.containerBlock {
	width: 250px; 
	position: fixed; 
	height: 100%;
	top: 56px; 
	/* background-color: #005882; */
}

.containerBlock>.blockLeftHeader {position: relative; height: 50px; padding: 10px 15px;}
.containerBlock>.blockLeftHeader>h2.heading {margin: 0; padding: 5px 0px; font-size: 18px; margin-left:30px; color: rgba(255,255,255,1);}
.containerBlock>.blockLeftHeader>.iconBox {position: absolute; width: 35px; height: 35px; left: 10px; top: calc(50% - 18px); padding: 5px;}
.containerBlock>.blockLeftHeader>.iconBox>img {width:100%; height: 100%; display: block;}
.containerBlock>.menuItems {position: relative; height: calc(100% - 105px); padding: 0; margin: 0; overflow-y: auto; overflow-x: hidden;}

.containerBlock>.menuItems>ul {list-style-type: none; padding: 0; margin: 0;}
.containerBlock>.menuItems>ul>li {display: block; padding: 0; margin: 0; position: relative;  -webkit-transition: all 0.5s ease; transition: all 0.5s ease;}
.containerBlock>.menuItems>ul>li:hover, .containerBlock>.menuItems>ul>li>a.active {background-color: #4885b2;}
.containerBlock>.menuItems>ul>li>a {display: block; color: rgba(255,255,255,0.85); text-decoration: none; font-size: 14px; padding: 10px 15px; -webkit-transition: all 0.5s ease; transition: all 0.5s ease;}
.containerBlock>.menuItems>ul>li>a:hover {text-decoration: none; color: rgba(255,255,255,0.95);}

/* Mobile Css */

@media(max-width: 767px) {
	.containerBlock{position: fixed; top: 0; bottom: 0; -moz-transform: translate3d(-105%,0,0); -webkit-transform: translate3d(-105%,0,0); transform: translate3d(-105%,0,0); -moz-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; -moz-box-shadow: 0px 4px 16px 0 rgba(0,0,0,0.7); -webkit-box-shadow: 0px 4px 16px 0 rgba(0,0,0,0.7); box-shadow: 0px 4px 16px 0 rgba(0,0,0,0.7); z-index: 9999; height: 100%; width: calc(100% - 50px);}
	.containerBlock.slideIn{-moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
	.blackCover{position: fixed; z-index: 9998; top:0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,0.54); overflow:hidden;}
	.containerBlock>.blockLeftHeader>h2.heading {margin:0; text-align: center;}
}

@media(min-width: 768px) and (max-width: 991px){
	.containerBlock{position: fixed; top: 0; bottom: 0; -moz-transform: translate3d(-105%,0,0); -webkit-transform: translate3d(-105%,0,0); transform: translate3d(-105%,0,0); -moz-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; -moz-box-shadow: 0px 4px 16px 0 rgba(0,0,0,0.7); -webkit-box-shadow: 0px 4px 16px 0 rgba(0,0,0,0.7); box-shadow: 0px 4px 16px 0 rgba(0,0,0,0.7); z-index: 9999; height: 100%;}
	.containerBlock.slideIn{-moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
	.blackCover{position: fixed; z-index: 9998; top:0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,0.54); overflow:hidden;}
	.containerBlock>.blockLeftHeader>h2.heading {margin:0; text-align: center;}	
}