.cardsBlock 	{position: relative; height: 100%; box-sizing: border-box; padding: 8px 0; margin:0;}
.dCardHeadline { padding: 16px 16px 0; font-size: 14px; color: rgba(0,0,0,0.54); }
.noteHeadlineTxt {font-size: 16px !important; margin-bottom: 24px !important; margin: 0; font-weight: 400; color: rgba(0,0,0,0.87);}

/* NO DATE BLOCK */
.noDataBlock {padding: 0; margin: 0; list-style: none;  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center; justify-content: center; height: calc(100% - 240px); position: relative;
    top: 132px;}
.nodDataScreen {width: 240px; position: relative; display: block;}
.nodDataScreen>.circle240 {width: 240px; height: 240px; border-radius: 50%; background-color: #f1f1f1; padding: 72px; box-sizing: border-box;}
.nodDataScreen>.circle240>img {width: 100%; height: 100%; display: block;}
.nodataTxt {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: rgba(0,0,0,0.54);
    margin-top: 32px;
}



/* MOBIE DEVICES */
@media screen and (max-width: 767px) and (orientation: portrait) {
	.cardsBlock {top: 0; margin: 0; height: 100%);}
	.noDataBlock {top: 0; }
    
}

/* TABLET DEVICES */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.cardsBlock {margin: 0;}
	
}