---------------------------------------------------------------

/*WORK AND EDUCTION*/

.whiteCard 							{position: relative; background-color: #fff; padding: 16px; box-shadow: 0 1px 2px rgba(0,0,0,.1); border-radius: 2px;}
.userCategoryInfo 					{position: relative; padding: 0; margin: 0; margin-bottom: 32px;}
.userCategoryInfo>.categoryHeading 	{padding: 0 0 8px; margin: 8px 0; color: rgba(0,0,0,0.87); font-size: 16px; text-transform: uppercase; padding: 0 0 8px; font-weight: 600; border-bottom: 1px solid rgba(0,0,0,0.12);}
.userCategoryInfo>ul 				{padding: 0; margin: 0; list-style-type: none;}
.userCategoryInfo>ul>li 			{display: block; /*border-bottom: 1px solid rgba(0,0,0,0.12);*/}
.userCategoryInfo>ul>li:last-child 	{border: none;}

.addInfoBlock 												{position: relative; padding: 16px 0px; display: block; cursor: pointer;}
.addInfoBlock>.iconBox,
.displayInfoBlock>.iconBox 									{width: 40px; height: 40px; border-radius: 50%; border: 1px solid rgba(0,0,0,0.12); padding: 10px;}
.addInfoBlock>.iconBox>img, .displayInfoBlock>.iconBox>img 	{width: 100%; height: 100%; display: block;}
.addInfoBlock>.iconBox>.addCategoryTxtBox 					{position: relative; word-break: break-all; padding:0; }
.addCategoryTxt 											{padding: 0; margin: 0; font-size: 18px; margin-top: 10px; padding-left: 16px; color: #008abc;}

.displayInfoBlock 					{position: relative; padding: 16px 0; display: block;}
.displayInfoBlock>.informationBox 	{position: relative; padding: 0 40px 0 8px; margin: 0; width: calc(100% - 80px);}
.displayInfoBlock>.singleInfoBox 	{position: relative; padding: 0px; margin: 0; width: calc(100% - 40px);}
.displayHeadingTxt 					{padding: 0; margin: 0 0 4px; font-size: 16px; font-weight: 600; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.descriptionTxt 					{display: block; padding: 8px 0; margin: 0; word-break: break-all; color: rgba(0,0,0,0.38);}

.moreInfoBlock 						{position: relative; top: 0; width: 40px; height: auto; color: rgba(0,0,0,0.38); cursor: pointer; text-align: center;}
.moreInfoBlock>.moreIconBox:hover 	{color: rgba(0,0,0,0.87);}
.moreInfoBlock>.moreIconBox 		{position: relative; padding: 0; margin: 0;}
.moreDropDown 						{text-align: justify; position: absolute; height: auto; background-color: #fff; box-shadow: 0 0px 24px rgba(0,0,0,0.27); right: 6px;  z-index: 0; padding: 8px; border-radius: 2px; -o-transition: all 0.4s ease; -ms-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; min-width: 100px; -o-transform: translate3d(0,-15px,0); -moz-transform: translate3d(0,-15px,0); -webkit-transform: translate3d(0,-15px,0); transform: translate3d(0,-15px,0); visibility: hidden; opacity: 0; }
.moreDropDown>ul 					{padding: 0; margin: 0; list-style-type: none;}
.moreDropDown>ul>li 				{display: block; padding: 0 8px; color: rgba(0,0,0,0.54); cursor: pointer; line-height: 32px;}
.moreDropDown>ul>li:hover 			{color: rgba(0,0,0,0.87);}
.moreDropDown::before 				{position:absolute; top:-7px; right:7px; content: ''; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid white; z-index:2;}
.moreDropDown.slideDown 			{z-index: 10; -o-transform: translate3d(0px,5px,0); -moz-transform: translate3d(0px,5px,0); -webkit-transform: translate3d(0px,5px,0); transform: translate3d(0px,5px,0); opacity: 1; visibility: visible; }

.leftInfoTxt 				{color: rgba(0,0,0,0.54); padding-left: 16px; margin: 0; font-weight: 600;}
.rightDetailInfo 			{list-style-type: none; padding: 0; margin: 0 0 16px;}
.rightDetailInfo>li 		{display: block; word-break: break-all;margin-bottom: 4px;}
.profileEditBlock 			{display: block; position: relative; background-color: #fafafa; padding: 16px 50px;}
div.error, span.mandatory 	{color: rgba(192, 57, 43,1.0) !important;}
.btnSpace 					{margin: 5px !important;}

/*Css Added for gender radio button - By Keerthi*/
.genderBlock {display: inline-block; margin: 0px; padding-top: 7px;}
.genderInput {margin-left: 16px !important;}
.genderText {color: rgba(0, 0, 0, 0.54); margin-left: 4px;}

.capitalize { }
/*media responsive style sheet*/
@media(max-width: 767px) {
	.leftInfoTxt 						{padding:0 0 4px; margin: 0; font-weight: 600;}
	.displayInfoBlock>.informationBox 	{padding: 0 0 0 8px;}
	.profileEditBlock 					{padding: 16px;}
	
}
@media(min-width: 768px) and (max-width: 991px){
	.leftInfoTxt 						{padding:0 0 4px; margin: 0; font-weight: 600;}
	.displayInfoBlock>.informationBox 	{padding: 0 0 0 8px;}
}