.rsc-container {
  width: 100%;
  position: relative;
  width: 100%;
  background-image: url('/images/insta_banner.png');
  /* margin: 0 auto; */
}
.rsc-slider {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  transition: all 0.2s ease-in-out;
  width: 160px;
  height: 90px;
}
.rsc-slider-item {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.rsc-slider-item-img {
  width: 100%;
  box-sizing: border-box;
  /* padding: 5px; */
}

.rsc-slider-item-img img {
  max-width: 100%;
}

.rsc-slider-item_transparent {
  /* opacity: 0.3; */
   opacity: 1;
}
.rsc-navigation {
  position: absolute;
  top: 0;
  height: 100%;
  cursor: pointer;
  width: 50px;
}
.rsc-navigation_left {
  left: 0;
}
.rsc-navigation_right {
  right: 0;
  text-align: right;
}
.rsc-arrow_left,
.rsc-arrow_right {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-image: url("/images/img-slider-arrow.png");
position: absolute;
top: calc(50% - 20px);
 width: 40px;
    height: 40px;
    
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    padding: 15px;
}
.rsc-arrow_right {right: 16px;}
.rsc-arrow_left {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
      left: 16px;
    
   

}
@media screen and (min-width: 1280px) {
  .rsc-arrow_left,
  .rsc-arrow_right {
    background-size: 100%;
  }
}
@media screen and (max-width: 720px) {
  .rsc-navigation {
    width: 40px;
  }
  .rsc-arrow_left,
  .rsc-arrow_right {
    background-size: 70%;
  }
}