
.docBlock {position: relative; display: block; padding: 8px 0 16px 0; margin: 0; border-bottom: 1px solid rgba(0,0,0,0.12);}
.docBlock>.headlingTxt {color: rgba(0,0,0,0.54); font-size: 16px; font-weight: 500; margin: 0 0 20px;}
.docInfoBlock {position: relative; display: flex; align-items: center; margin-bottom: 16px;}
.docInfoBlock>.avacircle80 {flex: 0 0 auto; width: 78px; height: 78px; border-radius: 50%; margin-right: 16px; border: 2px solid #007fc0; border: 2px solid var(--primaryColor);}
.docInfoBlock>.avacircle80>img {display: block; width: 100%; height: 100%; border-radius: 50%;}
.docInfoBlock>.docDetails {flex: 1 1 auto; padding: 0; margin: 0;}
.docInfoBlock>.ptnDetails {flex: 1 1 auto; padding: 0; margin: 0; text-align: right;}
.docInfoBlock>.docDetails>.docName {padding: 0; margin: 0 0 8px; font-size: 20px; font-weight: 500; color: rgba(0,0,0,0.87);}
.docInfoBlock>.docDetails>.callTxt,
.docInfoBlock>.ptnDetails>.callTxt {padding: 0; margin: 0; font-size: 14px; color: rgba(0,0,0,0.54);}
.docInfoBlock>.docDetails>.callTxt>.exTxt {font-weight: 500; color: rgba(0,0,0,0.87);	}
.docInfoBlock>.ptnDetails>.ptnName {padding: 0; margin: 0 0 4px; font-size: 16px; font-weight: 500; color: rgba(0,0,0,0.54);}


.bottomFollowBox {position: relative; display: flex; align-items: center;}
.bottomFollowTxt {flex: 1 1 auto; padding: 8px 16px; background-color: #e4e4e4; }
.righAbsBox { padding: 8px 16px; background-color: #007fc0; background-color: var(--primaryColor); color: #fff; text-transform: uppercase; flex: 0 0 auto;}
.bottomCallBtn {flex: 0 0 auto; padding: 0px; margin-left: 16px;}
.bottomCallBtn>.callBtn {background-color: #FF5722; color: #fff;}
.bottomCallBtn>.callBtn:hover {background-color: #E64A19;}


.presListGroup {display: flex; align-items: center; align-content: center;}
.presListItemZero {flex: 0 0 auto; width: 96px;}
.presListItemOne {flex: 1 1 auto;}
.presTitleBox {padding: 12px 16px; text-align: center; color: rgba(0,0,0,0.54); font-weight: 400;}
.presTitleBoxOne {padding: 12px 16px 12px 0; text-align: left; color: rgba(0,0,0,0.54); font-weight: 400;}
.circle32 {margin: 0 auto; width: 24px; height: 24px; border: 1px solid #f7c164; border: 1px solid var(--callMediumColor); border-radius: 50%;}
.circle32.filledCircle {background-color: #f7c164; background-color: var(--callMediumColor); color: #a06704; text-align: center; line-height: 23px; font-weight: 500; font-size: 16px; text-transform: uppercase;}
.circle16 {margin: 0 auto; width: 16px; height: 16px; border: 1px solid #f7c164; border: 1px solid var(--callMediumColor); border-radius: 50%;}
.circle16.filledCircle {background-color: #f7c164; background-color: var(--callMediumColor); color: #a06704; text-align: center; line-height: 14px; font-weight: 500; font-size: 12px; text-transform: uppercase;}

.presTxtBlock {display: block; position: relative;}
.medTitleTxt {font-size: 20px !important; line-height: 26px !important; color: rgba(0,0,0,0.87) !important; font-weight: 500 !important;}
.medSmallTxt {color: rgba(0,0,0,0.54) !important;}
.txt20 {font-size: 20px !important; text-align: center; font-weight: 500 !important;}
.pryHeadignTxt {font-size: 16px; color: #007fc0;}

.topRightListBox {position: relative;
    display: block;
    margin-left: 38px;}
.topRightListBox>.listItemsGroup {display: inline-block; padding: 0; margin: 0;}
.topRightListBox>.listItemsGroup>ul {list-style-type: none; padding: 0; margin: 0;}
.topRightListBox>.listItemsGroup>ul>li { display: inline-flex; margin-right: 16px; padding: 7px 0; }
.topRightListBox>.listItemsGroup>ul>li>span{ font-size: 14px; line-height: 18px; padding: 0 8px; color: rgba(0,0,0,0.87); font-weight: 500; }

.topInfoBox {border-bottom: 1px solid rgba(0,0,0,0.12); display: flex; padding-bottom: 8px; margin: 0 -24px;}

.presNotes {display: block; padding: 24px 0px; position: relative; border-top: 1px solid rgba(0,0,0,0.12); margin-top: 24px;}
.presSignature {display: block; padding: 56px 0; position: relative; border-top: 1px solid rgba(0,0,0,0.12); text-align: right;}
.presSignature>.signatureBox {display: inline-block; padding: 0 16px;}


.topActionBtnBlock {position: relative; text-align: right; display: block; padding: 12px 16px;}
.topActionBtnBlock>.actionBtnBlock {display: inline-block; position: relative;}


/* MOBIE DEVICES */
@media screen and (max-width: 767px) and (orientation: portrait) {
	.righAbsBox {padding: 8px;}
	.presListItemZero {width: auto; margin-right: 16px;}
	.presListGroup { margin-bottom: 24px; margin-top: -12px; }
	.presTitleBox {padding: 0;}
	.topInfoBox {margin: 0 -24px 16px;}
	.topRightListBox {margin-left: 24px;}
}

/* TABLET DEVICES */
@media screen and (min-width: 768px) and (max-width: 991px) {
	

}