.container {
  /*max-width: 980px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;*/
}

/* .sectionMain{
	padding: 0;
	margin:0;
	position: relative;
	top:56px;
	height: calc(100vh - 65px);
} */

.loginBlock {position: relative; display: block; padding: 0; margin: 0;}
