.tab-container {padding: 0; margin: 15px 0 0 0; display: block; position: relative;}
.tab-container>h2 {font-size: 22px; color: #fff; position: absolute;}
.i-circle {width: 30px; height: 30px; margin: 0px; background: rgba(0,0,0,0.1); text-align: center; line-height: 28px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; border: 2px solid rgba(255,255,255,0.4);}
       
.admintab-content{display: none; background: #ecf0f1; padding: 0px; box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1); margin-top: 3px; color: #999; position: relative; -webkit-border-radius: 3px; -o-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3); margin-top: 15px;}
.admintab-content.current{display: inherit; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -kthtml-transition: all 0.5s ease; transition: all 0.5s ease; position: relative;}

.admintab-content>.mng-usr-header {height: 50px; background: #0083c0; -webkit-border-top-left-radius: 3px; -moz-border-top-left-radius: 3px; -o-border-top-left-radius: 3px; border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-top-right-radius: 3px; -oborder-top-right-radius: 3px; -ms-border-top-right-radius: 3px; border-top-right-radius: 3px; line-height: 50px; padding: 0px 15px; position: relative;}
.admintab-content>.mng-usr-header>p {color: #fff; font-size: 15px;}
.admintab-content>.mng-usr-header>p>span.warning { margin: 10px; padding: 5px 10px; background: rgba(0,0,0,0.2); -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; color: #ffde00; text-align: center;}
.admintab-content>.mng-usr-header>p>span>i {margin-right: 5px; line-height: 26px;}

.admintab-content>.mng-usr-header>ul {padding: 0; margin: 0; list-style-type: none; position: absolute; right: 15px; top: 0;}
.admintab-content>.mng-usr-header>ul>li {display: inline-block; padding: 0px 15px; color: #fff; line-height: 43px; cursor: pointer;}
.admintab-content>.mng-usr-header>ul>li.current {border-bottom: 3px solid #FFDE00;}
.admintab-content>.mng-usr-header>ul>li>a>i {margin-right: 5px; line-height: 26px;}
.admintab-content>.mng-usr-header>ul>li>a {text-decoration: none; color: #fff;}

.admintab-content>.mng-usr-body {position: relative; display: block; margin: 0px; background: #fff; min-height: 250px; padding: 40px; height: calc(100vh - 115px);  overflow-y: auto; overflow-x: hidden;}
.admintab-content>.mng-usr-body>span.warning {margin: 10px; padding: 0px; color: #ff0000; position: absolute; top: 0;}

.btn-circle50 {width: 50px; height: 50px; border-radius: 50%; color: #fff; border: 3px solid rgba(0,0,0,0.05); font-size: 24px; margin: 0px 10px; outline: none;}
.bg-red-alizarin {background: #e74c3c;}
.bg-green-emerald {background: #2ecc71;}
.input-sm {height: 34px; font-size: 14px;}
.table-responsive{ overflow-x: hidden;}

/************** XS MEDIA QUERY*************/
@media screen and (max-width: 767px) {
    .admintab-content>.mng-usr-header {height: auto; padding: 15px 15px 5px 15px;}
    .admintab-content>.mng-usr-header>p>span.warning {display: block; margin: 0; padding: 0px 10px; line-height: 30px;}
    .admintab-content>.mng-usr-body {padding: 30px 10px 10px 10px;}
   
   
   
    }
   
/************** SM MEDIA QUERY*************/
@media (min-width: 768px) and (max-width: 991px) {
   
   
    }

/*LIST VIEW*/
/*.listView {padding: 10px 0px 60px 0px; display: none;}*/
.listView .table-responsive {border-radius: 4px;}
.listView .table>thead>tr.active>th {background-color: #d8f2fd; font-weight: normal;}
.listView .table>thead>tr>th {border-bottom: 1px solid rgba(0,0,0,0.1);}
.listView .table>tbody>tr>td {border-top: 1px solid rgba(203,231,244,0.9); }
.listView a {color: #808080;}
.listView .table-condensed>tbody>tr>td {padding: 8px 0px;}

.listView.current{display: inherit;}
.listView {padding: 10px 0px 60px 0px;}
/**********Vie User *********************/


 #hovertable tr:hover { background: white; } 
td{
width:50%;	
}

.nav-tabs {
    border-bottom: 0px;
}

a{
	
color:	#999;
}
.nav-tabs > li.active > a:hover{
	
	color:#555;
}

.change_picture {

	margin-left: 67px;

}