.hidden{
	display: none;
}

.extra-class{
	float: right;
  bottom: 124px;
  right: 308px;
  position: relative;
}

.chzn-container-multi .chzn-choices .search-field input.default {
	height:30px !important;
	width:100% !important;
}

.chzn-container-multi .chzn-choices .search-field input {
	height:30px !important;
}