/*SIGN-IN PAGE*/
	.bodyBg {background: #00aafa !important; }
	.loginPd {padding-top: 200px; background-color: #00aafa;}
	.form-signin {max-width: 385px; padding: 15px; margin: 0 auto;}
	.form-signin-main-heading {font-size: 18px; color: #d1effe; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
	.form-signin-heading {font-size: 16px; color: #d1effe;}
	
	.form-signin input[type="email"] {margin-bottom: 5px; border-radius: 3; background-color: #58c7fb; border: 1px solid rgba(255,255,255,0.3); color: #fff; }
	#login-username::-webkit-input-placeholder {color: #a0dffd;}
	#login-usernamel::-moz-placeholder {color: #a0dffd;}
	#login-password::-webkit-input-placeholder {color: #a0dffd;}
	#login-password::-moz-placeholder {color: #a0dffd;}
	.signlogoBox {display: block; text-align: center; padding-top: 95px;}
	
	.form-signin .form-control {position: relative; height: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 10px; font-size: 16px; }
	.form-signin input[type="password"] {margin-bottom: 10px; border-radius: 3px; background-color: #58c7fb; border: 1px solid rgba(255,255,255,0.3);
	}
	.form-signin .checkbox {font-weight: normal;}
	.form-signin .form-signin-heading, .form-signin .checkbox {margin-bottom: 10px;}
	.btn-pl-blue {color: #fff; background-color: #0595d9;  border: none;}
	.btn-pl-lg {padding: 10px 16px; font-size: 18px; line-height: 1.3333333; border: 1px solid rgba(255,255,255,0.5);}
	.verticalLine {border-left: 1px solid #cfeffe;}
	.form-signin input[type="text"] {margin-bottom: 5px; border-radius: 3; background-color: #58c7fb; border: 1px solid rgba(255,255,255,0.3); color: #fff;
}
	
	/*FOOTER*/
.footer {position: absolute; bottom: 0; left: 0; right: 0; display: block; height: auto; width: 90%; text-align: center; margin: 0 auto;}
.footer a:hover{color:#fff; text-decoration: none;}
.footer-text, .footer a {color: #9bc1db;}
.footer p{font-size: 11px; color: #93DCFF;}