@media screen and (max-width: 767px) {
	.loginPd {padding-top: calc(50vh - 240px) !important;}
	.background-black {background-color: rgba(0,0,0,0.5); position: fixed; height: 100%; left: 0; top: 0; z-index: 200; display: none; width: 100%;}
	.header>.header-logo-block {width: auto !important;}
	.header>.header-logo-block>img {left: 10px;}
	.header>.header-logo-block>ul>li {position: absolute; top: 3px; right: 3px;}

/*Mobile Design By Swarjith*/
	/*Scheduler*/

	.fc-toolbar {
		padding: 5px !important;
	}
	.fc button {
		font-size: 12px !important;
	}
	.fc-toolbar .fc-center{
		padding: 15px 0px !important;
	}
	.fc-scroller{
		height: calc(100vh - 285px) !important;
	}
	.fc-day-header{
		text-align: center !important;
		font-size: 10px !important;
	}
	.fc-ltr .fc-axis{
		text-align: left !important;
		font-size: 10px !important;
		width: 30px !important;
	}
	.fc-view-container{
		height: initial !important;
	}
	.verticalLine {
		border-left:none !important;
	}

	/* End Scheduler */

	.selection-wrapper {width: 100% !important;}
	.room-popup {width: 100%;}
	.room-popup.top-position {z-index: initial;}
	.footer-nav-block {
		width: 100% !important;
		float: none !important;
	}
	.footer-nav-block>ul>li {
		margin-left: 0 !important;
		width: 25% !important;
	}
	.leftSlide {
		width: 100% !important;
		left: -100% !important;
	}

	/*CURRENT NEW CODE*/
	/*FOOTER CHATTING BLOCK*/
	.block-room-display, .grid-366 {width: 100%;}
	.grid-366 {top: 10px;}



	.ftr-chat-container.ftr-chat-slide {
	    bottom: 80px;
	    height: calc(100vh - 80px);
	}

	/*dropdown-mod*/
	.mod-mob-chat-option {width: 100%; background-color: #00aafa; padding: 0px; transform: translateZ(0); transform: translateY(10%); -moz-transition: all 0.2s ease 0s, visibility 0s linear 0.2s; -ms-transition: all 0.2s ease 0s, visibility 0s linear 0.2s; -o-transition: all 0.2s ease 0s, visibility 0s linear 0.2s; -webkit-transition: all 0.2s ease 0s, visibility 0s linear 0.2s; transition: all 0.2s ease 0s, visibility 0s linear 0.2s; opacity: 0; visibility: hidden;     border-bottom: 1px solid rgba(255,255,255,0.4); -moz-box-shadow: 0px -8px 10px -7px rgba(0,0,0,0.3); -ms-box-shadow: 0px -8px 10px -7px rgba(0,0,0,0.3); -o-box-shadow: 0px -8px 10px -7px rgba(0,0,0,0.3); -webkit-box-shadow: 0px -8px 10px -7px rgba(0,0,0,0.3); box-shadow: 0px -8px 10px -7px rgba(0,0,0,0.3); border-top: 1px solid rgba(255,255,255,0.4); cursor: pointer;}
	.mod-mob-chat-option.show-mod-mob-chat-option {visibility: visible; opacity: 1; -moz-transform: translateX(0%); -ms-transform: translateX(0%); -o-transform: translateX(0%); -webkit-transform: translateX(0%); transform: translateX(0%); -moz-transition-delay: 0s; -ms-transition-delay: 0s; -o-transition-delay: 0s; -webkit-transition-delay: 0s; transition-delay: 0s;}
	.mod-mob-chat-option.top-position {top: -50px; right: 0px; position: absolute; z-index: 500;}
	.mod-mob-chat-option ul {padding: 0; margin: 0; list-style-type: none;}
	.mod-mob-chat-option ul li {padding: 0; margin: 0; float: left; width: 50%; border-left: 1px solid rgba(0,0,0,0.05); position: relative; border-right: 1px solid rgba(255,255,255,0.4); height: 50px;}
	.mod-mob-chat-option ul li a:hover {background-color: rgba(0,0,0,0.1); color: #fff}
	.mod-mob-chat-option ul li a {display: block; padding: 30px 0px 3px 0px; text-decoration: none; font-size: 12px; color: #fff; border-right: 1px solid rgba(0,0,0,0.1); text-align: center;}
	.mod-mob-chat-option ul li:last-child {border-right: none;}
	.mod-mob-chat-option ul li:first-child {border-left: none;}
	.mod-mob-chat-option ul li img {position: absolute; width: 30px; height: auto; display: block; top: 2px; left: calc(50% - 15px);}

	/*footer chat block*/
	.footer-nav-main {padding: 0px !important;}
	.footer-nav-block {position: relative; width: 100%; float: none !important;}
	.footer-chat-block {position: fixed !important; left: 0; bottom: -100px; z-index: 99; right: 0px; width: 100% !important;}
	.footer-chat-block.show-footer-chat-block {bottom: 0px !important;}
	.chat-block {width: 100% !important; position: relative !important;}
	.chat-block>.close-chat-block {width: 20px; height: 20px; border-radius: 50%; background-color: rgba(0,0,0,0.1); text-align: center; line-height: 20px; font-size: 11px; color: #fff; position: absolute; top: 10px; right: 15px; cursor: pointer;}
	.ftr-chat-container {width: 100% !important;}
	.self-chat-box img, .others-chat-box img {width: 100%; height: auto; display: block; overflow: hidden;}
	.footer-nav-block>ul>li {margin: 0; width: 20%; position: relative; float: left; height: 80px; padding: 0; list-style: none; text-align: center; white-space: nowrap;}
	.footer-setting:before {left: 18%;}

	.on-this-call{
		width: 100% !important;
		height: 100vh !important;
		left: 0 !important;
	}
/*Ends here */
	
	.custom-navbar {width: 180px !important; position: fixed; top: 53px; z-index: 1000; right: 5px; height: auto; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.2); display:none;}
	.custom-navbar.showcstnav {display: block !important;}
	.custom-navbar>ul {float: left !important; width: 100%}
	.custom-navbar>ul>li, .custom-navbar>ul>li:hover {display: block; border-bottom: 1px solid rgba(0,0,0,0.1);}
	.custom-navbar>ul>li>a {padding: 15px; display: block; color: #555; text-decoration: none;}
	.dropdown-navbar {width: 50px; position: relative; line-height: 50px; font-size: 19px; color: #fff; text-align: center;}
	.custom-navbar:before { content: ''; height: 0; width: 0; position: absolute; display: block; border-style: solid; border-color: #fff; top: -8px; right: 10px; border-width: 11px 13px 11px 0; transform: rotate(135deg);}
	.startContainer {width: 100%;}
	.startContainer>.startCircle {width: 150px; height: 150px; position: absolute; border-radius: 50%; text-align: center; line-height: 120px; color: #fff; background: #00aafa; left: calc(50% - 75px); top: 130px; border: 3px solid #89d9ff; cursor: pointer; font-size: 80px;}
	.startContainer>.modeCirclel {top: 135px;}
	.startContainer>.startCircle>span.conftext {color: #9EE0FF; display: block; font-size: 13px; padding: 0; margin: -15px 0 0 0; line-height: 0;}

	/***** THREE MODE *****/
	.startContainer>.modeCirclel {width: 80px; height: 80px; left: calc(50% - 40px);}
	.startContainer>.modeCircle {width: 80px; height: 80px; right: calc(50% - 40px);}
	.startContainer>.modeCirclem {width: 80px; height: 80px; left: calc(50% - 40px);}

	.startContainer>.modeCirclel.vcmode {top: 245px; left: calc(50% - 150px);}
	.startContainer>.modeCircle.legacy {top: 245px; right:calc(50% - 150px);}
	.startContainer>.modeCirclem.presentermode {top: 300px; left: calc(50% - 40px);}

	.startContainer>.modeCirclel>img, .startContainer>.modeCircle>img, .startContainer>.modeCirclem>img {margin-top: calc(50% - 20px);}

} /***** ENDS XS RESPONSIVE *****/

/************** SM MEDIA QUERY*************/
@media (min-width: 768px) and (max-width: 991px) {
	.loginPd {padding-top: 10px;}
	.startContainer {width: 100%;}
	.startContainer>.modeCirclel {top: 135px;}
	.startContainer>.startCircle {width: 150px; height: 150px; position: absolute; border-radius: 50%; text-align: center; line-height: 120px; color: #fff; background: #00aafa; left: calc(50% - 75px); top: 130px; border: 3px solid #89d9ff; cursor: pointer; font-size: 80px;}
	.startContainer>.startCircle>span.conftext {color: #9EE0FF; display: block; font-size: 13px; padding: 0; margin: -15px 0 0 0; line-height: 0;}
	/***** THREE MODE *****/
	.startContainer>.modeCirclel {width: 80px; height: 80px; left: calc(50% - 40px);}
	.startContainer>.modeCircle {width: 80px; height: 80px; right: calc(50% - 40px);}
	.startContainer>.modeCirclem {width: 80px; height: 80px; left: calc(50% - 40px);}

	.startContainer>.modeCirclel.vcmode {top: 245px; left: calc(50% - 150px);}
	.startContainer>.modeCircle.legacy {top: 245px; right:calc(50% - 150px);}
	.startContainer>.modeCirclem.presentermode {top: 300px; left: calc(50% - 40px);}

	.startContainer>.modeCirclel>img, .startContainer>.modeCircle>img, .startContainer>.modeCirclem>img {margin-top: calc(50% - 20px);}
	
}


/***** DIAL IN BRIDGE *****/
.dial-in-bridge {position: fixed; top: 80px; right: 50px; height: auto; background-color: rgba(0,0,0,0.30); z-index: 9999 !important; border: 1px solid rgba(255,255,255,0.33); -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.25); -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.25); -o-box-shadow: 0 0 15px 0 rgba(0,0,0,0.25); box-shadow: 0 0 15px 0 rgba(0,0,0,0.25); color: #fff; -moz-text-shadow: 0 0 5px rgba(0,0,0,0.5); -webkit-text-shadow: 0 0 5px rgba(0,0,0,0.5); -ms-text-shadow: 0 0 5px rgba(0,0,0,0.5); -o-text-shadow: 0 0 5px rgba(0,0,0,0.5); text-shadow: 0 0 5px rgba(0,0,0,0.5);}
.dial-in-bridge-hdr {padding: 10px 15px 5px 15px; border-bottom: 1px solid rgba(0,0,0,0.1);}
.dial-in-bridge-bdy {padding: 5px 15px; border-top: 1px solid rgba(255,255,255,0.2);}
.circle-inline30 {width: 30px; height: 30px; display: inline-block; background-color: #00CC33; border-radius: 50%; border: 1px solid #03AF2E; padding: 5px; position: relative;}
.dial-in-bridge-hdr>p {display: inline-block; position: relative; top: -5px; font-size: 19px; color: #fff; margin-left: 5px; margin: 0px 0 0 5px;
 vertical-align: bottom;}
.dial-in-bridge-bdy>p {padding: 0; margin: 0;}
