/*RIGHT SIDE FIXED ASIDE*/ 
.contactListFixed,
.attendeesListFixed,
.groupChatFixed,
.indiChatFixed,
.settingOptionsFixed                    {position: fixed; width: 320px; right: -105%; background-color: #fff; top: 56px; bottom: 0; box-shadow: -1px 0 7px 0 rgba(0,0,0,0.4); -o-transition: right 0.1s ease; -moz-transition: right 0.1s ease; -webkit-transition: right 0.1s ease; transition: right 0.1s ease;}
.settingOptionsFixed                    {z-index: 1015;}
.settingOptionsFixed.openSettingOptions {right: 50px;}
.contactListFixed                       {z-index: 1015;}
.contactListFixed.openMyContacts        {right: 50px;}
.indiChatFixed                          {z-index: 1015;}
.indiChatFixed.openIndiChat             {right: 50px;}
.onCalPadding1 {padding: 0; text-align: center;padding-right: 6px;}
.onCalPadding2 {padding: 0; padding-left: 6px; margin-top: -4px;}

.tableBlock                                 {display: flex; width: 100%; height: 100%; border-spacing: 0; flex-direction: column;}
.tableBlock>.tableBlockRow                  {flex-grow: 1; display: block;}
.tableBlock>.tableBlockRow>.tableBlockCell  {position: relative; width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden;}

.modAsideHeader                             {position: relative; height: 50px; background-color: #fff; border-bottom: 1px solid rgba(0,0,0,0.12);}
.modAsideHeaderWhite                        {position: relative; height: 50px; background-color: #f6f7f9;}
.modHeaderList                              {position: relative; padding:0; margin: 0;}
.modHeaderList>.block50                     {position: relative; width: 50px; height: 50px; cursor: pointer; padding: 12px; }
.modHeaderList>.block50.nohover,
.modHeaderList>.block50.nohover:hover       {background-color: transparent; cursor: default;}
.modHeaderList>.block50>.fileUpload         {color: rgba(0,0,0,0.54); overflow: hidden; text-align: center; }
.modHeaderList>.block50>.fileUpload label   {padding: 0; margin: 0; cursor: pointer; font-size: 22px; vertical-align: top;}
.modHeaderList>.block50>.fileUpload>label>i {margin: 0;}
.modHeaderList>.block50>.fileUpload input   { display: none; }

.modHeaderWhiteList                     {position: relative; padding: 0; margin: 0; display: flex; flex-direction: row;}
.modHeaderWhiteList>ul                  {list-style-type: none; padding: 0; margin: 0; width: 100%;}
.modHeaderWhiteList>ul>li               {float: left; width: 33.3333%; padding: 0; margin: 0; }
.modHeaderWhiteList>ul>li>a             {display: block; padding: 3px 10px; text-align: center; text-decoration: none; color: rgba(0,0,0,0.87);}
.modHeaderWhiteList>ul>li>a>span        {display: block; width: 30px; height: 30px; padding: 0px; margin: 0 auto;}
.modHeaderWhiteList>ul>li>a>p           {padding: 0; margin: -3px 0 0; font-size: 12px; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.modHeaderWhiteList>ul>li:hover         {border-bottom: 2px solid #ffc966;} 
.modHeaderWhiteList>ul>li.active        {border-bottom: 2px solid #ed5434;}
.modHeaderWhiteList>ul>li>a>span>img,
.modNoContacts>.noContactsCircle>img,
.modSearchBlock>.navbarFormCustom>.backSearch>img,
.subNavBars>img,
.topLeftLogo>img,
.modHeaderList>.block50>img,
.modContactList>ul>li>.chatBox>img,
.modContactList>ul>li>.callBox>img      {display: block; width: 100%; height: 100%} 

.modHeaderList>.midTitle                    {position: relative; padding: 14px 0; width: calc(100% - 150px); text-decoration: none;}
.modHeaderList>.midTitle>h2                 {padding: 0 0 0 15px;  margin: 0; font-size: 16px; font-weight: 600; color: rgba(0,0,0,0.87); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-transform: capitalize;}
.modAsideListBody                           {position: relative; padding: 0; margin: 0; flex-grow: 1; overflow-y: auto; overflow-x: hidden;}
.modContactList                             {position: relative; padding: 0; margin: 0;}
.modContactList>ul                          {padding: 0; margin: 0; list-style-type: none;}
.modContactList>ul>li                       {display: block; border-bottom: 1px solid rgba(0,0,0,0.05); padding: 7.5px 0; margin: 0; position: relative;}
.modContactList>ul>li:last-child            {border-bottom: none;}
.modContactList>ul>li>a                     {display: block; text-decoration: none; padding: 0px; position: relative; color: #555; font-size: 16px; width: 100%;}
.modContactList>ul>li>a>.contactContainer 	{display: block;position: relative;padding: 0 16px; margin: 0;}
.modContactList>ul>li>a>.contactContainer>.avatarBox {background-color: #f6f7f9; position: relative; float: left; width: 40px; height: 40px; border: 1px solid rgba(0,0,0,0.12); border-radius: 50%;}
.modContactList>ul>li>a>.contactContainer>.avatarBox>img {width: 100%; height: 100%; display: block; border-radius: 50%;}

.modContactList>ul>li>a>.contactContainer>.contactInfoBox {width: calc(100% - 40px); float: left; padding: 0 16px; margin: 0; position: relative;}

.modContactList>ul>li>a>.contactContainer>.contactInfoBox>h3                  {overflow: hidden; font-weight: normal; text-overflow: ellipsis; white-space: nowrap; display: block; padding-right: 32px; margin: 6px 0 0 0; font-size: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-transform: capitalize;}
.modContactList>ul>li>a>.contactContainer>.contactInfoBox>h3>p                {width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; color: rgba(0,0,0,0.54); font-size: 11px; padding: 0; margin: 0}
.modContactList>ul>li>.chatBox              {position: absolute; width: 40px; height: 40px; padding: 7px; right: 15px; top: 10px; z-index:50; cursor: pointer; border-radius: 50%;}
.modContactList>ul>li>.callBox              {position: absolute; width: 40px; height: 40px; padding: 7px; right: 60px; top: 10px;  z-index: 51; cursor: pointer; border-radius: 50%;}
.modContactList>ul>li>.chatBox:hover,
.modContactList>ul>li>.callBox:hover        {background-color: rgba(0,0,0,0.025);}
.modContactList>ul>li>a>.contactContainer>.avatarBox>.listStatusCircle   { position: absolute; top: 3px; left: 30px; z-index: 10; width: 10px; height: 10px; border-radius: 50%; box-shadow: 0 1px 2px rgba(0,0,0,0.2); }

.onlineColor    {color: #49D285 !important;}
.busyColor      {color: #ff3500 !important;}
.bgOffline      {background-color: #ccc !important;}
.bgOnline       {background-color: #25EC50 !important;}

.modNoContacts                      {position: relative; padding: 0; margin: 0;}
.modNoContacts>.noContactsCircle    {padding: 20px; border: 1px solid rgba(255,255,255,0.75); width: 120px; height: 120px; background-color: rgba(0,0,0,0.05); margin: 60px auto 30px auto; border-radius: 50%;}
.modNoContacts>h2                   {padding:  0; margin: 0; font-size: 18px; color: #555; text-align: center; text-shadow: 0 1px 0 rgba(255,255,255,0.85);}
.modNoContacts>h2>p                 {font-size: 12px; padding: 8px 15px; margin: 0; color: #999; display: block;}

.modSearchBlock                                                                 {display: block; height: 50px; background-color: #fff; box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3); transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; -o-transition: all 300ms ease; -ms-transition: all 300ms ease;}
.modSearchBlock.adjustForModal                                                  {margin: -15px -15px 0;}
.modSearchBlock>.navbarFormCustom                                               {margin: 0 !important; padding: 8px 0px 8px 15px !important; position: relative;}
.modSearchBlock>.navbarFormCustom>.addOn                                        {width: calc(100% - 0px);}
.modSearchBlock>.navbarFormCustom>.addOn>.formControlCustom                     {width: 100%; border: none; box-shadow: none; padding: 0;}
.modSearchBlock>.navbarFormCustom>.addOn>.formControlCustom>.inputGroupBtn>.btn {border-left-width: 0; left: -2px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);}

.btnSearch  {background: transparent ; border: none; box-shadow: none !important; }
.topMrgZero {margin-top: 0 !important;}

/*PROFILE CARD MODULE*/
.modProfileCard                                         {padding: 0; margin: 0; position: relative; display: block;}
.modProfileCard>ul                                      {list-style-type: none; padding: 0; margin: 0;}
.modProfileCard>ul>li                                   {display: block; padding: 0; margin: 0; position: relative;}
.modProfileCard>ul>li>.addNowBlock                      {width: 120px; padding: 0; margin: 0;}
.modProfileCard>ul>li>.addNowBlock>p                    {padding: 0; margin: 0; font-size: 14px; color: #555;}
.modProfileCard>ul>li>.addNowBlock>.btnAddContact       {margin: 10px auto; border-radius: 30px; background-color: #4f7dc9; /*background-color: #001dfb;*/ color: #fff; outline: none;}
.modProfileCard>ul>li>.addNowBlock>.btnAddContact:hover {box-shadow: 0 1px 3px 0px rgba(0,0,0,0.5);}
.modProfileCard>ul>li>.addNowBlock>.btnAddedContact     {margin: 10px auto; border-radius: 30px; background-color: #26d070; color: #fff; outline: none; display: inline-block; padding: 6px 12px; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent;}
.modProfileCard>ul>li>.contactInfoBlock                 {width: calc(100% - 120px); position: relative; padding: 0; margin: 0;}
.modProfileCard>ul>li>.contactInfoBlock>img             {background-color: rgba(0,0,0,0.1); width: 80px; height: 80px; -o-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; float: left; margin: 0 10px 0;}
.modProfileCard>ul>li>.contactInfoBlock>h2              {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #555; font-size: 21px; padding: 0; margin: 0; display: block; margin-top: 20px;}
.modProfileCard>ul>li>.contactInfoBlock>h2>p            {padding: 0; margin: 0; color: #999; font-size: 14px;}

/*ASIDE BODY2 TYPE*/
.asideBodySecondary                         {position: relative; padding: 0; margin: 0; height: calc(100vh - 150px); overflow-y: auto; overflow-x: hidden;}
.modSelectChoice                            {position: relative; padding: 0; margin: 0;}
.modSelectChoice>ul                         {list-style-type: none; padding: 0; margin: 0;}
.modSelectChoice>ul>li                      {display: block; padding: 0; margin: 0; border-bottom: 1px solid rgba(0,0,0,0.1)}
.modSelectChoice>ul>li:last-child           {border: none;}
.modSelectChoice>ul>li>.headerText          {position: relative; width: calc(100% - 50px); padding: 15px;}
.modSelectChoice>ul>li>.headerText>h2       {text-shadow: 0px 1px 0px rgba(255,255,255,1); font-size: 14px; color: #555; padding: 0; margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.modSelectChoice>ul>li>.headerText>h2>p     {font-size: 10px; color: #aaa; padding: 0; margin: 0}
.modSelectChoice>ul>li>.optionsBlock        {right: 10px; position: relative; width: 50px; padding: 0 15px; outline: none;}
.modSelectChoice>ul>li>.optionsBlock>label  {display: block; padding: 0; margin: 0; font-weight: normal;}

.settingsOptionInput                    {-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; position: relative; top: 13.33333px; width: 25px; height: 25px; -webkit-transition: all 0.15s ease-out 0; -moz-transition: all 0.15s ease-out 0; transition: all 0.15s ease-out 0; background: #cbd1d8; border: none; color: #fff; cursor: pointer; display: inline-block; outline: none; position: relative; margin-right: 0.5rem; z-index: 50; }
.settingsOptionInput:hover              { background: #9faab7; outline: none !important;}
.settingsOptionInput:checked            { background: #005882; outline: none !important;}
.settingsOptionInput:checked::before    {outline: none; width: 25px; height: 25px; position: absolute; content: '\2714'; display: inline-block; font-size: 16px; text-align: center; line-height: 25px; }
.settingsOptionInput:checked::after     {outline: none;.modNoContacts -webkit-animation: click-wave 0.65s; -moz-animation: click-wave 0.65s; animation: click-wave 0.65s; background: #005882; content: ''; display: block; position: relative; z-index: 100; }
.settingsOptionInput.radio              { border-radius: 50%;  outline: none; border: none; margin: 0; top: 15px;}
.settingsOptionInput.radio::after       { border-radius: 50%; }

/*INDIVIDUAL & GROUP CHAT*/
.modChatBody                                                        {position: relative; padding: 0; margin: 0; background-color: #fff; height: inherit; flex-grow: 1; overflow-y: auto; overflow-x: hidden;}
.modChatContainer                                                   {position: relative; height: inherit; padding: 20px 16px; margin: 0;}
.modChatContainer>.selfChatBox                                      {margin-bottom: 20px; -moz-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.4); -webkit-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.4); box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.4); position: relative; padding: 5px 10px 10px; border-radius: 5px; background-color: #008abc; width: 85%;}
.modChatContainer>.selfChatBox>.avatarCircle                        {-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; width: 40px; height: 40px; background-color: #ddd; position: absolute; right: -20px; top: -10px;}
.modChatContainer>.selfChatBox>.avatarCircle>img                    {width: 100%; height: 100%; display: block; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;}
.modChatContainer>.selfChatBox>h6                                   {padding: 0; margin: 0; font-size: 10px; color: rgba(255,255,255,0.55); position: absolute; right: 24px; top: 4px;}
.modChatContainer>.selfChatBox>.messageBox                          {word-wrap: break-word; color: #fff; font-size: 14px; position: relative; padding:0; margin: 10px 0 0 0;}
.modChatContainer>.selfChatBox>.messageBox>img,
.modChatContainer>.selfChatBox>.messageBox>video                    {height: auto; width: 100%; display: block;}
.modChatContainer>.selfChatBox>p                                    { font-size: 10px; color: rgba(255,255,255,0.7); }
.modChatContainer>.selfChatBox>.messageBox>div                      {width: 100%; position: relative; display: inline-block; text-decoration: none; color: rgba(0,0,0,0.87);}
.modChatContainer>.selfChatBox>.messageBox>div>img                  { width: 16px; height: auto; position: absolute; z-index: 2}
.modChatContainer>.selfChatBox>.messageBox>div>a>span.downloadFile  {z-index: 20; font-size: 16px; position: absolute; bottom: 0; right: 0; padding: 0 8px; color: rgba(255,255,255,0.7);}
.modChatContainer>.selfChatBox>.messageBox>div>a>span.downloadMedia {z-index: 20; font-size: 24px; position: absolute; bottom: 0; right: 0; padding: 0; color: rgba(0, 0, 0, .54); background-color: rgba(255,255,255,1); border-radius: 50%; width: 32px; height: 32px; text-align: center; line-height: 32px;}
.modChatContainer>.selfChatBox>.messageBox>div>span.textField       {color: #fff; width: calc(100% - 88px); display: inline-block; word-wrap: break-word; margin-left: 20px;}
.modChatContainer>.selfChatBox>.messageBox>a>p{color : #39CCCC;}

.modChatContainer>.otherChatBox                     {margin-left: 15%; margin-bottom: 20px; -moz-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.4); -webkit-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.4); box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.4); position: relative; padding: 5px 10px 10px; border-radius: 5px; background-color: #f6f7f9; width: 85%;}
.modChatContainer>.otherChatBox>.avatarCircle       {-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; width: 40px; height: 40px; background-color: #ddd; position: absolute; left: -20px; top: -10px;}
.modChatContainer>.otherChatBox>.avatarCircle>img   {width: 100%; height: 100%; display: block; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;}
.modChatContainer>.otherChatBox>h6                  {text-align: right; padding: 0; margin: 0; font-size: 10px; color: rgba(0,0,0,0.4);}
.modChatContainer>.otherChatBox>p                   { position: absolute; left: 25px; font-size: 10px; color: rgba(0,0,0,0.4); top: 3px; }
.modChatContainer>.otherChatBox>.messageBox         {word-wrap: break-word; color: #555; font-size: 14px; position: relative; padding:0; margin: 10px 0 0 0;}
.modChatContainer>.otherChatBox>.messageBox>img,
.modChatContainer>.selfChatBox>.messageBox>video    {height: auto; width: 100%; display: block;}

.modChatContainer>.otherChatBox>.messageBox>div                         {width: 100%; position: relative; display: inline-block; text-decoration: none; color: rgba(0,0,0,0.87);}
.modChatContainer>.otherChatBox>.messageBox>div>img                     { width: 16px; height: auto; position: absolute; z-index: 2}
.modChatContainer>.otherChatBox>.messageBox>div>a>span.downloadFile     {z-index: 20; font-size: 16px; position: absolute; bottom: 0; right: 0; padding: 0 8px; color: rgba(0,0,0,0.54);}
.modChatContainer>.otherChatBox>.messageBox>div>a>span.downloadMedia    {z-index: 20; font-size: 24px; position: absolute; bottom: 0; right: 0; padding: 0; color: rgba(0, 0, 0, .54); background-color: rgba(255,255,255,1); border-radius: 50%; width: 32px; height: 32px; text-align: center; line-height: 32px;}
.modChatContainer>.otherChatBox>.messageBox>div>span.textField          {width: calc(100% - 88px); display: inline-block; word-wrap: break-word; margin-left: 20px;}

.chatMediaBox               { position: relative; width: 100%; height: auto; background-color: #fff; padding: 8px; box-shadow: 0px 1px 3px rgba(0,0,0,0.3);}
.chatMediaBox>img ,
.chatMediaBox>video         { display: block; width: 100%; height: auto; object-fit: initial; position: relative; }

.modChatFooter              {position: relative; height: 50px; padding: 0; margin: 0; background-color: #fff; border-top: 1px solid rgba(0,0,0,0.12);}
.chatWrite                  {width: calc(100% - 50px); position: relative; padding: 8px 0; margin: 0;}
.chatWrite>input            {width: 100%;}
.formControlChatOverwrite   {background: transparent; border-radius: 0; border: none !important; box-shadow: none!important; font-size: 14px; padding: 6px 10px!important; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }

.sendMessage        {width: 50px; position: relative; padding: 12px; cursor: pointer;}
.sendMessage:hover  {background-color: rgba(0,0,0,0.1);}
.sendMessage>img    {width: 100%; height: 100%; display: block;}


/* Code change by - Najib, Desc - Disable cursor on profile image hover hover for guest user */
.modChatContainer>.selfChatBox>.avatarCircleGuest                        {-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; width: 40px; height: 40px; background-color: #ddd; position: absolute; right: -20px; top: -10px; cursor: default !important;}
.modChatContainer>.selfChatBox>.avatarCircleGuest>img                    {width: 100%; height: 100%; display: block; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;}
/*Changed code ends here */



/*ANIMATION FOR ASIDE SETTINGS INPUT*/
@-webkit-keyframes 
click-wave { 0% { width: 25px; height: 25px; opacity: 0.35; position: relative; }
 100% { width: 75px; height: 75px; margin-left: -25px; margin-top: -25px; opacity: 0.0; }
}
@-moz-keyframes 
click-wave { 0% { width: 25px; height: 25px; opacity: 0.35; position: relative; }
 100% { width: 75px; height: 75px; margin-left: -25px; margin-top: -25px; opacity: 0.0;  }
}
@-o-keyframes 
click-wave { 0% { width: 25px; height: 25px; opacity: 0.35; position: relative; }
 100% { width: 75px; height: 75px; margin-left: -25px; margin-top: -25px; opacity: 0.0;  }
}
@keyframes 
click-wave { 0% { width: 25px; height: 25px; opacity: 0.35; position: relative; }
 100% {width: 75px; height: 75px; margin-left: -25px; margin-top: -25px; opacity: 0.0;  }
}

/*Edit Conference*/
.setConfPassword                            {position: relative; padding: 16px; background-color: #fff;}
.setConfPassword>h2                         {text-align: center; font-size: 16px; font-weight: normal; padding: 0; margin: 0 0 16px 0; color: rgba(0,0,0,0.87);}
.setConfPassword>.iconBlock                 {border-radius: 50%; width: 64px; height: 64px; background-color: #f0f0f0; border: 1px solid rgba(0,0,0,0.12); margin: 0 auto; padding: 10px; }
.setConfPassword>.iconBlock>img             {display: block; width: 100%; height: 100%;}
.setConfPassword>.passWordBlock             {width: 256px; margin: 0 auto; position: relative; padding: 0;}
.setConfPassword>.passWordBlock input       { width: 100%; height: 32px; border-radius: 2px; border: 1px solid rgba(0,0,0,0.12); margin-top: 32px; }
.setConfPassword>.passWordBlock>form>input  {padding: 0 8px; width: 100%; height: 35px; border-radius: 2px; border: 1px solid rgba(0,0,0,0.12);}

.meetingDetails                         {position: relative; padding: 16px; border-bottom: 1px solid rgba(0,0,0,0.12); background-color: #f5f6f8; margin: -15px -15px 15px -15px;}
.meetingDetails>.meetingInfoBlock       {position: relative; padding: 0; display: block;}
.meetingDetails>.meetingInfoBlock>h4    {position: relative; font-size: 16px; color: rgba(0,0,0,0.87); padding: 0; margin: 0; text-shadow: 0 1px 2px rgba(255,255,255,1);}
.inputError {    color: #d62626;
    margin-bottom: 8px;
    display: inline-block;
    padding: 0 12px;}
/*.mandatoryText {
	color : #d62626;
	font-weight: normal;
    font-size: 12px;
}*/

.formControlOverwrite { height: 40px !important; background-color: #fff !important; background-image: none; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-transition: none !important; -o-transition: none !important; transition: none !important; color: rgba(0,0,0,0.87); margin-bottom: 8px; border-radius: 4px;}

.calendarInlineBlock                    { position: relative; padding: 0; margin: 0 0 8px; }
.calendarInlineBlock>ul                 {padding: 0; margin: 0; list-style-type: none;}
.calendarInlineBlock>ul>li              {float: left; padding: 0; margin: 0; /*width: 33.3333%;*/ border-right: 1px solid rgba(0,0,0,0.1); position: relative; }
.calendarInlineBlock>ul>li:last-child   {border: none;}
.calendarInlineBlock>ul>li>p,
.endsOnBlock>p 							            {color: rgba(0,0,0,0.54); padding-left: 15px; text-shadow: 0 1px 0 rgba(255,255,255,0.75); font-size: 12px; }
.schedlDate {width: 30%;}
.schedlDate>p {padding-left: 12px;}
.schedlDate>div {padding: 0px 12px;}
.schedlTime {width: 30%;}
.schedlTime>p {padding-left: 12px;}
.schedlTime>div {padding: 0px 12px;}
.schedlDuration {width: 40%;}
.schedlDuration>p {padding-left: 12px;}
.schedlDuration>div {padding: 0px 12px;}
.onSpan {margin-top : 2px;position : absolute;}
.repeatsList1 {width: 50%;}
.repeatsList2 {width: 50%;}
.schedlHour {padding-right: 8px;}
.schedlMins {padding-left: 4px;}

.endsOnBlock     {position: relative;padding: 8px 0px; margin: 0;}
.endsOnBlock>ul                 {padding: 0; margin: 0; list-style-type: none;}
.endsOnBlock>ul>li              { padding: 0; margin: 0;  position: relative; display: inline-block;}

.inputGroupAddonOverwrite   { position: absolute !important; z-index: 10 !important; left: 0px !important; top: -5px !important; font-size: 30px !important; border: none !important; background-color: transparent !important; cursor: pointer; }
.setDueDateOverwrite        { width: calc(100% - 35px) !important; margin-left: 40px !important; background-color: transparent !important; border: none !important; box-shadow: none !important; }
.dateTimePickerBlock        { position: relative; padding: 0 16px; display: block;}
.actionBlock                { position: absolute; right: 0; padding: 0 16px; z-index: 5; cursor: pointer; }
.actionButtonBox            { width: 40px; height: 40px; display: inline-block; border-radius: 50%; padding: 10px; }
.indChatNotification        { position: absolute; top: 8px; right: 10px; background-color: #ed5434; min-width: 12px; height: 12px; border-radius: 30px; text-align: center; color: #fff; font-weight: 600; font-size: 9px; padding: 2px; line-height: 8px; box-shadow: 1px 2px 3px rgba(0,0,0,0.5); }
.actionButtonBox:hover      { background-color: #f0f0f0;}
.actionButtonBox>img        { display: block; width: 100%; height: 100%;}

.alignMidBlock                                          {display: block; padding: 16px; margin: 0; border-top: 1px solid rgba(0,0,0,0.12); }
.alignMidBlock>h2                                       { font-size: 16px; padding: 0; margin: 0 0 16px; }
.alignMidBlock>.centerBlock                             {width: 75%; display: flex; flex-direction: row; margin: 0 auto;}
.alignMidBlock>.centerBlock>ul                          {list-style-type: none; width: 100%; padding: 0; margin: 0;}
.alignMidBlock>.centerBlock>ul>li                       {display: inline-block; flex-grow: 1; padding: 0; margin: 0; width: 33.3333%;}
.alignMidBlock>.centerBlock>ul>li>a                     {display: block; padding: 0; margin: 0; text-decoration: none;text-align: center; padding: 8px; background-color: #F6F7FA; color: rgba(0,0,0,0.54); border: 1px solid #fff;}
.alignMidBlock>.centerBlock>ul>li>a:hover,
.alignMidBlock>.centerBlock>ul>li>.btnCodec:hover       {background-color: #fff; border: 1px solid #ed5434;}
.alignMidBlock>.centerBlock>ul>li>a.active,
.alignMidBlock>.centerBlock>ul>li>.btnCodec.active      {background-color: #ed5434; color: #fff;}

.alignMidBlock>.centerBlock>ul>li>.btnCodec             { background-color: #f6f7fa; border: 1px solid #fff; padding: 8px 20px; color: rgba(0,0,0,0.54); box-shadow: none; outline: none; }
.alignMidBlock>.transBlock                              {width: 75%; display: flex; flex-direction: row; margin: 0 auto;}
.alignMidBlock>.transBlock>ul                           {list-style-type: none; width: 100%; padding: 0; margin: 0;}
.alignMidBlock>.transBlock>ul>li                        {display: inline-block; flex-grow: 1; padding: 0; margin: 0; width: 50%;}
.alignMidBlock>.transBlock>ul>li>a                      {display: block; padding: 0; margin: 0; text-decoration: none;text-align: center; padding: 8px; background-color: #F6F7FA; color: rgba(0,0,0,0.54); border: 1px solid #fff;}
.alignMidBlock>.transBlock>ul>li>a:hover,
.alignMidBlock>.transBlock>ul>li>.btnTransport:hover    {background-color: #fff; border: 1px solid #ed5434;}
.alignMidBlock>.transBlock>ul>li>a.active,
.alignMidBlock>.transBlock>ul>li>.btnTransport.active   {background-color: #ed5434; color: #fff;}
.alignMidBlock>.transBlock>ul>li>.btnTransport          { background-color: #f6f7fa; border: 1px solid #fff; padding: 8px 20px; color: rgba(0,0,0,0.54); box-shadow: none; outline: none; }

.helpdesk                   { padding: 0; margin: 0; list-style-type: none; }
.helpdesk>li                { display: block; padding: 0; margin:0; border-bottom: 1px solid rgba(0,0,0,0.12); }
.helpdesk>li:last-child     { border: none; }
.helpdesk>li>a              { display: block; padding: 8px 16px; text-decoration: none; margin: 4px auto; word-wrap: break-word; }

.sliderA{float: left;}

.scheduFullBlock {  }

.scheduImgBlock { width: 88px !important; height: 88px !important; margin-bottom: 8px !important; }
/*.scheduTextBlock {}*/

.sliderB{width: 60% !important;margin-left: 70px;}
.sliderB{ vertical-align: middle; -webkit-appearance: none; background: linear-gradient(to right, #ececec 0%, #ececec 100%); border-radius:30px; background-size: 90% 5px; background-position: center; background-repeat: no-repeat; overflow: hidden;  outline: none;  display: inline-block; }
.sliderB::-webkit-slider-thumb { -webkit-appearance: none;  width: 15px; height: 15px; background: #008abc; position: relative; z-index: 3; border:none!important; border-radius:50%; }
.sliderB::-webkit-slider-thumb:after { content: " "; width: 100%; height: 10px; position: absolute; z-index: 1; right: 20px; top: 5px; }

.sliderText{text-align: center;width: 100%;display: block;font-size: 10px;color: rgba(0,0,0,0.87);}

.sideDrop {padding: 3px 8px;margin: 0;border-radius: 2px;background-color: #f6f7fa;margin-left: 34px;margin-top: -4px;width: 64%;}
.popHeadingAll {color: rgba(0, 0, 0, .87); font-size: 16px; text-transform: capitalize; font-weight: 600; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.btnApplyAll {border: none !important; text-transform: uppercase !important; padding: 8px 12px !important; font-weight: 600 !important; font-size: 14px !important; background-color: #008abc !important; border-radius: 2px !important; box-shadow: 0 4px 12px rgba(0, 0, 0, .26) !important; color: #fff !important;}
.emailInChatText {text-transform: none;}
.formGroup {padding: 0; margin: 0; display: block; font-size: 12px;}
.formGroupLabel {display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: normal; width: 25%;}
/***********************************************************************************/

/*RESPONSIVE CODE FOR EXTRA SMALL DEVICES - MOBILE*/
@media screen and (max-width: 768px) {
    /*Dashboard*/
    .setConfPassword>.passWordBlock             {width: 100%;}
		.contactListFixed.openMyContacts,
    .indiChatFixed.openIndiChat,
    .settingOptionsFixed.openSettingOptions     {right: 0px; top: 0; z-index: 1020; width: 100%;}
		.calendarInlineBlock>ul>li                  {float: none;width: 100% !important; border: none; border-bottom: 1px solid rgba(0,0,0,0.12); padding: 16px 0; }
		.calendarInlineBlock>ul>li:last-child       {border: none;}
    .modNoContacts                              {margin-top: 24px !important;}
    .schedlDate {width: 100%;}
    .schedlTime {width: 100%;}
    .schedlDuration {width: 100%;}
    .schedlDate>.dateTimePickerBlock {padding: 0px;}
    .schedlDate p {padding: 0px !important;}
    .schedlTime>.dateTimePickerBlock {padding: 0px;}
    .schedlTime p {padding: 0px !important;}
    .schedlDuration>.dateTimePickerBlock {padding: 0px;}
    .schedlDuration p {padding: 0px !important;}
    .schedlHour {padding-right: 15px;}
		.schedlMins {padding-left: 15px; margin-top: 4px;}
		.onCalPadding1 {padding: 0;margin-top: 8px; text-align: left;}
		.onCalPadding1 input {float: none;}
		.onCalPadding2 {padding: 0;margin-top: 8px;}
		.onSpan {margin-top : 2px;position : relative;}
		.colForinput1 {padding: 0px !important;}
		.colForinput2 {padding: 0px !important;}
		.repeatsList1 {width: 100%;}
		.repeatsList2 {width: 100%;}
		.repeatsList1 p {padding: 0px !important;}
		.repeatsList2 p {padding: 0px !important;}
		.repeatsList1>.dateTimePickerBlock {padding: 0px !important;}
		.repeatsList2>.dateTimePickerBlock {padding: 0px !important;}
		.endOnPara {padding: 0px !important;}
}

/*RESPONSIVE CODE FOR SMALL DEVICES - TABLET*/
@media(min-width:768px) and (max-width:991px){
	.contactListFixed.openMyContacts,
    .indiChatFixed.openIndiChat,
    .settingOptionsFixed.openSettingOptions     {right: 0px; top: 0; z-index: 1020;width: 100%; }
    .modNoContacts                              {margin-top: 24px !important;}
    
}

.toastTop {
	top:  55px;
	/* margin-top: 50px; */
}
