.navRightFixed {width: 50px; position: fixed; right: 0; top: 56px; height: calc(100vh - 56px); background-color: #005882; z-index: 1000;}

/*top left nav bars*/ 
.subNavBars {position: relative; width: 50px; height: 50px; cursor: pointer; padding: 7px;}
.subNavBars:hover {background-color: rgba(0,0,0,0.1);}

/* MODULE VERTICAL NAV */
.modVerticalNav {padding: 0; margin: 0; position: relative;}
.btmVerticalNav>ul,.modVerticalNav>ul {list-style-type: none; padding: 0; margin: 0;}
.btmVerticalNav>ul>li,.modVerticalNav>ul>li {display: block; height: 50px; width: 50px; padding: 0; margin: 0; -moz-transition: background-color 0.5s ease-in-out; -webkit-transition: background-color 0.5s ease-in-out; transition: background-color 0.5s ease-in-out;}
.btmVerticalNav>ul>li>a.active,.modVerticalNav>ul>li>a.active {background-color: #0078b1; box-shadow: 8px 0px 11px 0px rgba(0,0,0,0.3);}
.btmVerticalNav>ul>li>a,.modVerticalNav>ul>li>a {display: block; padding: 10px; margin: 0; text-decoration: none; position: relative; }
.btmVerticalNav>ul>li:hover,.modVerticalNav>ul>li:hover {background-color: #0078b1; }
.btmVerticalNav>ul>li>a>img,.modVerticalNav>ul>li>a>img {width: 100%; height: 100%; display: block;}
.modVerticalNav>ul>li>a>span.chatNotification{
    position: absolute;
    top: 8px;
    right: 4px;
    background-color: #ed5434;
    min-width: 12px;
    height: 12px;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 9px;
    padding: 2px;
    line-height: 8px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}
.chatNotiConf {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #ed5434;
    min-width: 12px;
    height: 12px;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 9px;
    padding: 2px;
    line-height: 8px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}
/*Bottom Vertical Nav*/
.btmVerticalNav {padding: 0; margin: 0; position: absolute; bottom: 0px;}

.confNavMobile {
    width: 50px; position: fixed; right: 0; top: 56px; height: calc(100vh - 56px); background-color: #005882; z-index: 1000;
}


@media only screen and (max-width : 768px){
	.navRightFixed {width: 100% !important; height: auto !important; background-color: #0097de;}
    .confNavMobile {
        width: 100% !important; height: auto !important; background-color: #0097de;
        top: 0;
        transform: translate3d(0,-100px,0);
        transition: all 0.4s ease-in-out;
    }
    .confNavMobile.conf {
        transform: translate3d(0,0,0);
    }
    .navRightFixed.hide {
        transform: translate3d(0, -112px, 0);
        transition: all 0.4s ease;
        top: 0;
    }
    .navRightFixed.show {
        transform: translate3d(0, 0px, 0);
        transition: all 0.4s ease;
        top: 0;
    }


	.btmVerticalNav>ul>li,.modVerticalNav>ul>li {display: inline-block; height: 47px;}
	.modVerticalNav {box-shadow: 0 2px 4px rgba(0,0,0,0.3);}
	.btmVerticalNav {right: 0;}
	.btmVerticalNav>ul,.modVerticalNav>ul {webkit-overflow-scrolling: touch; white-space: nowrap; overflow-y: hidden; overflow-x: auto;}
    .modVerticalNav>ul.presenterAdjust {width: calc(100% - 50px);}

    .mobSlide {position: absolute; right: 0; z-index: 2; top: 0px;}
    .mobSlide>ul {list-style-type: none; padding: 0; margin:0;}
    .mobSlide>ul>li {display: inline-block; padding: 0; margin: 0;height: 47px;}
    .mobSlide>ul>li>a {box-shadow: -1px 0 3px rgba(0,0,0,0.3); background-color: #008acb; display: block; padding: 8px; margin: 0; text-decoration: none; text-align: center; font-size: 18px; color: rgba(255,255,255,1); width : 50px; }
    .mobSlide>ul>li>a:hover {color: #fff;}
    .mobSlide>ul>li>a>img {width: 100%; height: 100%;}

    .btmVerticalNav {/*right: 0px;*/ left : 0;}
    .btmVerticalNav>ul>li>a,.modVerticalNav>ul>li>a {padding: 12px;}
    .btmVerticalNav>ul>li>a.active,.modVerticalNav>ul>li>a.active {box-shadow: none;}
    .btmVerticalNav>ul>li:hover,.modVerticalNav>ul>li:hover {background-color: transparent; }
}

@media(min-width:768px) and (max-width:991px){ 
	.navRightFixed {width: 100% !important; height: 50px !important; background-color: #0097de;}
	.modVerticalNav>ul>li {display: inline-block; height: 47px;}
	.modVerticalNav {box-shadow: 0 2px 4px rgba(0,0,0,0.3);}
    .btmVerticalNav {right: 0px;}
    .btmVerticalNav>ul,.modVerticalNav>ul {webkit-overflow-scrolling: touch; white-space: nowrap; overflow-y: hidden; overflow-x: auto;}
    .modVerticalNav>ul.presenterAdjust {width: calc(100% - 50px);}
    .btmVerticalNav>ul>li>a,.modVerticalNav>ul>li>a {padding: 12px;}
    .btmVerticalNav>ul>li>a.active,.modVerticalNav>ul>li>a.active {box-shadow: none;}
    .btmVerticalNav>ul>li:hover,.modVerticalNav>ul>li:hover {background-color: transparent; }
}

@media(min-width: 568) and (max-width: 991px){
    
}