/* add css for remove outline on focus in all inputs, selects, buttons and textareas - Manish */
button:focus {outline: none;}
input:focus, select:focus, textarea:focus {outline: none; border-color: #008acb !important;}
.form-control:focus {border-color: #008acb !important; }
textarea {resize: vertical;}

.innerWhiteTopic {padding: 0 16px;}
.colonBlack {color: #000000;}
div.error, span.mandatory{color: rgba(192, 57, 43,1.0) !important;}

.dynamicBreadCrumb{display: block; padding:0; margin: 0; position: relative; }
.dynamicBreadCrumb>ul {list-style-type: none; padding: 0; margin: 0;}
.dynamicBreadCrumb>ul>li {display: inline-block; padding: 0; margin: 0 4px 0; font-size: 12px; color: rgba(0,0,0,0.54);}
.dynamicBreadCrumb>ul>li>a {color: #008abc; padding: 0; margin: 0; display: block; font-size: 12px; text-decoration: none;}

.iElement {display: block; width: 100%; height: 35px; padding: 6px 8px; font-size: 14px; background: rgba(255,255,255,1); border: 1px solid rgba(0,0,0,0.12); color: rgba(0,0,0,0.54); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; max-width: 472px;} 
.oElement {}
.iLabel {display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: 600; color: rgba(0,0,0,0.87);} 
.oLabel {}
.iForm {position: relative; padding: 16px; margin: 0; height: calc(100vh - 165px); overflow-y: auto; overflow-x: hidden;}
.oForm {}
.iFormField {margin-bottom: 10px;}
.oFormField {}
.iFormGroup {padding: 0px; margin:0px; position: relative;}
.iFormGroup>h2 {font-size: 16px; padding: 16px 0; font-weight: 600; text-transform: uppercase; color: rgba(0,0,0,0.87); margin: 0 0 0 0;} 
.oFormGroup {}
.formNext {height: auto;}
.iSubFormGroup {} 
.oSubFormGroup {}
.iContainer { position: relative; width: calc(100% - 250px); height: 100%;}
.oContainer {  }
.iSubMenu {} 
.oSubMenu {}
.iTopMenu {position: relative; background-color: #ececec; padding: 16px;} 
.iTopMenu>h3 {padding: 0; margin: 0; font-size: 16px; font-weight: 600; color: rgba(0,0,0,0.87); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.dynamicBreadCrumb {display: block; padding:0; margin: 0; position: relative; }
.dynamicBreadCrumb>ul {list-style-type: none; padding: 0; margin: 0;}
.dynamicBreadCrumb>ul>li {display: inline-block; padding: 0 8px 0 0; margin: 4px 0 0 0; font-size: 12px; color: rgba(0,0,0,0.54);}
.dynamicBreadCrumb>ul>li>a {color: #008abc; padding: 0; margin: 0; display: block; font-size: 12px; text-decoration: none;}
.iMenuContainer {position: absolute; right: 15px; top: 0;}
.iMenuContainer>ul {list-style-type: none; padding: 0; margin:0;}
.iMenuContainer>ul>li {display: inline-block; padding: 0; margin: 0;}
.iMenuContainer>ul>li>a {display: block; padding: 11px 8px; text-align: center; cursor: pointer; text-decoration: none; min-width: 50px; color: rgba(0,0,0,0.87);}
.iMenuContainer>ul>li>a:hover {color: rgba(0,0,0,0.87);}
.iMenuContainer>ul>li>a>i {margin:0;}
.iMenuContainer>ul>li>a>span {display: block; font-size: 11px;}
.iSubMenu {height: 40px; background-color: #ececec; padding: 0 16px;}
.whiteTopMenu {background-color: #fff !important; border-bottom: 1px solid rgba(0,0,0,0.12); margin-bottom: 16px;}
.iSubMenuContainer {position: relative; padding: 0; margin: 0; z-index: 1; overflow: hidden; height: 46px;}
.iSubMenuContainer>ul {padding: 0; margin:0; list-style-type: none; overflow-x: auto; overflow-y: hidden; -webkit-overflow-scrolling: touch; white-space:nowrap;}
.iSubMenuContainer>ul>li {display: inline-block; padding: 0; margin: 0;}
.iSubMenuContainer>ul>li>a {padding: 10px 8px; line-height: 40px; color: rgba(0,0,0,0.38); text-decoration: none; border-bottom: 2px solid transparent;}
.iSubMenuContainer>ul>li>a.active {text-decoration: none; color: rgba(0,0,0,0.87); border-bottom: 2px solid #ff0000;}
.iSubMenuContainer>ul>li>a:hover {text-decoration: none; color: rgba(0,0,0,0.87); border-bottom: 2px solid #ffc966;}
.error {display: block !important; width: 100% !important; text-align: left !important; margin-left: 130px !important; font-size: 11px !important; color: #d62626 !important;}
.scheduleerror {display: block !important; width: 100% !important; text-align: center !important; margin: 0 !important; font-size: 11px !important; color: #d62626 !important;}
.errorPre {display: block !important; text-align: center !important; font-size: 11px !important; color: #d62626 !important;}
.errorclass {border: 1px solid #ff0000 !important;}
.whiteCard {position: relative; padding: 16px 0; border-radius: 2px; background-color: #fff; margin-bottom: 10px; display: block; box-shadow: 0px 1px 2px rgba(0,0,0,0.1);}
.greyCard {position: relative; padding: 16px 0; border-radius: 2px; background-color: #fff; margin-bottom: 10px; display: block; box-shadow: 0px 1px 2px rgba(0,0,0,0.1);}
.reactTelInput {width: 100% !important; max-width: 472px;}
.reactTelInput input[type=text],
.reactTelInput input[type=tel] {margin-bottom: 10px !important; border: 1px solid rgba(0,0,0,0.12) !important; border-radius: 2px !important; box-shadow: none !important; height: 35px !important;}
.reactTelInput .countryList {width: 275px !important;}

/*phone number field*/

.react-tel-input {position: relative;width: 100% !important;

    .ad {
        background-position: -16px 0;
    }
    .ae {
        background-position: -32px 0;
    }
    .af {
        background-position: -48px 0;
    }
    .ag {
        background-position: -64px 0;
    }
    .ai {
        background-position: -80px 0;
    }
    .al {
        background-position: -96px 0;
    }
    .am {
        background-position: -112px 0;
    }
    .ao {
        background-position: -128px 0;
    }
    .ar {
        background-position: -144px 0;
    }
    .as {
        background-position: -160px 0;
    }
    .at {
        background-position: -176px 0;
    }
    .au {
        background-position: -192px 0;
    }
    .aw {
        background-position: -208px 0;
    }
    .az {
        background-position: -224px 0;
    }
    .ba {
        background-position: -240px 0;
    }
    .bb {
        background-position: 0 -11px;
    }
    .bd {
        background-position: -16px -11px;
    }
    .be {
        background-position: -32px -11px;
    }
    .bf {
        background-position: -48px -11px;
    }
    .bg {
        background-position: -64px -11px;
    }
    .bh {
        background-position: -80px -11px;
    }
    .bi {
        background-position: -96px -11px;
    }
    .bj {
        background-position: -112px -11px;
    }
    .bm {
        background-position: -128px -11px;
    }
    .bn {
        background-position: -144px -11px;
    }
    .bo {
        background-position: -160px -11px;
    }
    .br {
        background-position: -176px -11px;
    }
    .bs {
        background-position: -192px -11px;
    }
    .bt {
        background-position: -208px -11px;
    }
    .bw {
        background-position: -224px -11px;
    }
    .by {
        background-position: -240px -11px;
    }
    .bz {
        background-position: 0 -22px;
    }
    .ca {
        background-position: -16px -22px;
    }
    .cd {
        background-position: -32px -22px;
    }
    .cf {
        background-position: -48px -22px;
    }
    .cg {
        background-position: -64px -22px;
    }
    .ch {
        background-position: -80px -22px;
    }
    .ci {
        background-position: -96px -22px;
    }
    .ck {
        background-position: -112px -22px;
    }
    .cl {
        background-position: -128px -22px;
    }
    .cm {
        background-position: -144px -22px;
    }
    .cn {
        background-position: -160px -22px;
    }
    .co {
        background-position: -176px -22px;
    }
    .cr {
        background-position: -192px -22px;
    }
    .cu {
        background-position: -208px -22px;
    }
    .cv {
        background-position: -224px -22px;
    }
    .cw {
        background-position: -240px -22px;
    }
    .cy {
        background-position: 0 -33px;
    }
    .cz {
        background-position: -16px -33px;
    }
    .de {
        background-position: -32px -33px;
    }
    .dj {
        background-position: -48px -33px;
    }
    .dk {
        background-position: -64px -33px;
    }
    .dm {
        background-position: -80px -33px;
    }
    .do {
        background-position: -96px -33px;
    }
    .dz {
        background-position: -112px -33px;
    }
    .ec {
        background-position: -128px -33px;
    }
    .ee {
        background-position: -144px -33px;
    }
    .eg {
        background-position: -160px -33px;
    }
    .er {
        background-position: -176px -33px;
    }
    .es {
        background-position: -192px -33px;
    }
    .et {
        background-position: -208px -33px;
    }
    .fi {
        background-position: -224px -33px;
    }
    .fj {
        background-position: -240px -33px;
    }
    .fk {
        background-position: 0 -44px;
    }
    .fm {
        background-position: -16px -44px;
    }
    .fo {
        background-position: -32px -44px;
    }
    .fr, .bl, .mf {
        background-position: -48px -44px;
    }
    .ga {
        background-position: -64px -44px;
    }
    .gb {
        background-position: -80px -44px;
    }
    .gd {
        background-position: -96px -44px;
    }
    .ge {
        background-position: -112px -44px;
    }
    .gf {
        background-position: -128px -44px;
    }
    .gh {
        background-position: -144px -44px;
    }
    .gi {
        background-position: -160px -44px;
    }
    .gl {
        background-position: -176px -44px;
    }
    .gm {
        background-position: -192px -44px;
    }
    .gn {
        background-position: -208px -44px;
    }
    .gp {
        background-position: -224px -44px;
    }
    .gq {
        background-position: -240px -44px;
    }
    .gr {
        background-position: 0 -55px;
    }
    .gt {
        background-position: -16px -55px;
    }
    .gu {
        background-position: -32px -55px;
    }
    .gw {
        background-position: -48px -55px;
    }
    .gy {
        background-position: -64px -55px;
    }
    .hk {
        background-position: -80px -55px;
    }
    .hn {
        background-position: -96px -55px;
    }
    .hr {
        background-position: -112px -55px;
    }
    .ht {
        background-position: -128px -55px;
    }
    .hu {
        background-position: -144px -55px;
    }
    .id {
        background-position: -160px -55px;
    }
    .ie {
        background-position: -176px -55px;
    }
    .il {
        background-position: -192px -55px;
    }
    .in {
        background-position: -208px -55px;
    }
    .io {
        background-position: -224px -55px;
    }
    .iq {
        background-position: -240px -55px;
    }
    .ir {
        background-position: 0 -66px;
    }
    .is {
        background-position: -16px -66px;
    }
    .it {
        background-position: -32px -66px;
    }
    .jm {
        background-position: -48px -66px;
    }
    .jo {
        background-position: -64px -66px;
    }
    .jp {
        background-position: -80px -66px;
    }
    .ke {
        background-position: -96px -66px;
    }
    .kg {
        background-position: -112px -66px;
    }
    .kh {
        background-position: -128px -66px;
    }
    .ki {
        background-position: -144px -66px;
    }
    .km {
        background-position: -160px -66px;
    }
    .kn {
        background-position: -176px -66px;
    }
    .kp {
        background-position: -192px -66px;
    }
    .kr {
        background-position: -208px -66px;
    }
    .kw {
        background-position: -224px -66px;
    }
    .ky {
        background-position: -240px -66px;
    }
    .kz {
        background-position: 0 -77px;
    }
    .la {
        background-position: -16px -77px;
    }
    .lb {
        background-position: -32px -77px;
    }
    .lc {
        background-position: -48px -77px;
    }
    .li {
        background-position: -64px -77px;
    }
    .lk {
        background-position: -80px -77px;
    }
    .lr {
        background-position: -96px -77px;
    }
    .ls {
        background-position: -112px -77px;
    }
    .lt {
        background-position: -128px -77px;
    }
    .lu {
        background-position: -144px -77px;
    }
    .lv {
        background-position: -160px -77px;
    }
    .ly {
        background-position: -176px -77px;
    }
    .ma {
        background-position: -192px -77px;
    }
    .mc {
        background-position: -208px -77px;
    }
    .md {
        background-position: -224px -77px;
    }
    .me {
        background-position: -112px -154px;
        height: 12px;
    }
    .mg {
        background-position: 0 -88px;
    }
    .mh {
        background-position: -16px -88px;
    }
    .mk {
        background-position: -32px -88px;
    }
    .ml {
        background-position: -48px -88px;
    }
    .mm {
        background-position: -64px -88px;
    }
    .mn {
        background-position: -80px -88px;
    }
    .mo {
        background-position: -96px -88px;
    }
    .mp {
        background-position: -112px -88px;
    }
    .mq {
        background-position: -128px -88px;
    }
    .mr {
        background-position: -144px -88px;
    }
    .ms {
        background-position: -160px -88px;
    }
    .mt {
        background-position: -176px -88px;
    }
    .mu {
        background-position: -192px -88px;
    }
    .mv {
        background-position: -208px -88px;
    }
    .mw {
        background-position: -224px -88px;
    }
    .mx {
        background-position: -240px -88px;
    }
    .my {
        background-position: 0 -99px;
    }
    .mz {
        background-position: -16px -99px;
    }
    .na {
        background-position: -32px -99px;
    }
    .nc {
        background-position: -48px -99px;
    }
    .ne {
        background-position: -64px -99px;
    }
    .nf {
        background-position: -80px -99px;
    }
    .ng {
        background-position: -96px -99px;
    }
    .ni {
        background-position: -112px -99px;
    }
    .nl, .bq {
        background-position: -128px -99px;
    }
    .no {
        background-position: -144px -99px;
    }
    .np {
        background-position: -160px -99px;
    }
    .nr {
        background-position: -176px -99px;
    }
    .nu {
        background-position: -192px -99px;
    }
    .nz {
        background-position: -208px -99px;
    }
    .om {
        background-position: -224px -99px;
    }
    .pa {
        background-position: -240px -99px;
    }
    .pe {
        background-position: 0 -110px;
    }
    .pf {
        background-position: -16px -110px;
    }
    .pg {
        background-position: -32px -110px;
    }
    .ph {
        background-position: -48px -110px;
    }
    .pk {
        background-position: -64px -110px;
    }
    .pl {
        background-position: -80px -110px;
    }
    .pm {
        background-position: -96px -110px;
    }
    .pr {
        background-position: -112px -110px;
    }
    .ps {
        background-position: -128px -110px;
    }
    .pt {
        background-position: -144px -110px;
    }
    .pw {
        background-position: -160px -110px;
    }
    .py {
        background-position: -176px -110px;
    }
    .qa {
        background-position: -192px -110px;
    }
    .re {
        background-position: -208px -110px;
    }
    .ro {
        background-position: -224px -110px;
    }
    .rs {
        background-position: -240px -110px;
    }
    .ru {
        background-position: 0 -121px;
    }
    .rw {
        background-position: -16px -121px;
    }
    .sa {
        background-position: -32px -121px;
    }
    .sb {
        background-position: -48px -121px;
    }
    .sc {
        background-position: -64px -121px;
    }
    .sd {
        background-position: -80px -121px;
    }
    .se {
        background-position: -96px -121px;
    }
    .sg {
        background-position: -112px -121px;
    }
    .sh {
        background-position: -128px -121px;
    }
    .si {
        background-position: -144px -121px;
    }
    .sk {
        background-position: -160px -121px;
    }
    .sl {
        background-position: -176px -121px;
    }
    .sm {
        background-position: -192px -121px;
    }
    .sn {
        background-position: -208px -121px;
    }
    .so {
        background-position: -224px -121px;
    }
    .sr {
        background-position: -240px -121px;
    }
    .ss {
        background-position: 0 -132px;
    }
    .st {
        background-position: -16px -132px;
    }
    .sv {
        background-position: -32px -132px;
    }
    .sx {
        background-position: -48px -132px;
    }
    .sy {
        background-position: -64px -132px;
    }
    .sz {
        background-position: -80px -132px;
    }
    .tc {
        background-position: -96px -132px;
    }
    .td {
        background-position: -112px -132px;
    }
    .tg {
        background-position: -128px -132px;
    }
    .th {
        background-position: -144px -132px;
    }
    .tj {
        background-position: -160px -132px;
    }
    .tk {
        background-position: -176px -132px;
    }
    .tl {
        background-position: -192px -132px;
    }
    .tm {
        background-position: -208px -132px;
    }
    .tn {
        background-position: -224px -132px;
    }
    .to {
        background-position: -240px -132px;
    }
    .tr {
        background-position: 0 -143px;
    }
    .tt {
        background-position: -16px -143px;
    }
    .tv {
        background-position: -32px -143px;
    }
    .tw {
        background-position: -48px -143px;
    }
    .tz {
        background-position: -64px -143px;
    }
    .ua {
        background-position: -80px -143px;
    }
    .ug {
        background-position: -96px -143px;
    }
    .us {
        background-position: -112px -143px;
    }
    .uy {
        background-position: -128px -143px;
    }
    .uz {
        background-position: -144px -143px;
    }
    .va {
        background-position: -160px -143px;
    }
    .vc {
        background-position: -176px -143px;
    }
    .ve {
        background-position: -192px -143px;
    }
    .vg {
        background-position: -208px -143px;
    }
    .vi {
        background-position: -224px -143px;
    }
    .vn {
        background-position: -240px -143px;
    }
    .vu {
        background-position: 0 -154px;
    }
    .wf {
        background-position: -16px -154px;
    }
    .ws {
        background-position: -32px -154px;
    }
    .ye {
        background-position: -48px -154px;
    }
    .za {
        background-position: -64px -154px;
    }
    .zm {
        background-position: -80px -154px;
    }
    .zw {
        background-position: -96px -154px;
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .hide {
        display: none;
    }
    .v-hide {
        visibility: hidden;
    }
input[type=text],
input[type=tel] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 44px;
  margin-left: 0;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 3px;
  box-shadow: 0 1px 2px #E3E3E3 inset;
  line-height: 25px;
  height: 28px;
  width: 100%;
  &:focus {
    border-color: #42bdff;
    border-left-color: #cacaca;
  }
  &.invalid-number {
    border: 1px solid #d79f9f;
    background-color: #FAF0F0;
    border-left-color: #cacaca;
    &:focus {
      border: 1px solid #d79f9f;
      border-left-color: #cacaca;
      background-color: #FAF0F0;
    }
  }
}
.flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: #eaeaea;
  border: 1px solid #cacaca;
  border-radius: 3px 0 0 3px;
  &.open-dropdown {
    background: #fff;
    border-bottom: 0;
    border-radius: 3px 0 0 0;
    .selected-flag {
      background: #fff;
      border-radius: 3px 0 0 0;
    }
  }
  &:hover {
    cursor: pointer;
    .selected-flag {
      background-color: #fff;
    }
  }
}
input[disabled] {
  &+.flag-dropdown {
    &:hover {
      cursor: default;
      .selected-flag {
        background-color: transparent;
      }
    }
  }
}
.selected-flag {
  z-index: 13;
  position: relative;
  width: 38px;
  height: 26px;
  padding: 0 0 0 8px;
  border-radius: 3px 0 0 3px;
  .flag {
    position: absolute;
    top: 50%;
    margin-top: -5px;
  }
  .arrow {
    position: relative;
    top: 50%;
    margin-top: -2px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555;
    &.up {
      border-top: none;
      border-bottom: 4px solid #555;
    }
  }
}

.country-list {
  list-style: none;
  position: absolute;
  z-index: 15;
  padding: 0;
  margin: -1px 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #ccc;
  width: 400px;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 0 0 3px 3px;
  top: 26px;

    .flag {
      display: inline-block;
    }
    .divider {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid #ccc;
    }
    .country {
      padding: 5px 10px;
        .dial-code {
          color: #999;
        }
        &:hover {
          background-color: #e8f7fe;
        }
        &.highlight {
          background-color: #c7e2f1;
        }
    }
    .flag {
      margin-right: 6px;
      margin-top: 2px;
    }
    .country-name {
      margin-right: 6px;
    }
  }
}

.uploadFile {display :  block; padding : 24px 16px; margin : 0 auto; width : 120px;}
.fileUpload { position: relative; overflow: hidden; width: 64px; height: 64px; border-radius: 50%; background-color: #fff; margin: 0 auto; cursor: pointer; box-shadow: 0px 2px 4px rgba(0,0,0,0.2); -ms-transition: all 0.4s ease; -o-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}
.fileUpload:hover {box-shadow: 0px 8px 16px rgba(0,0,0,0.12);}
.fileUpload label.uploadLabel {width: 100%; height: 100%; display: block; padding: 15px; cursor: pointer;}
.fileUpload label.uploadLabel img {display: block; width: 100%; height: 100%; cursor: pointer;}
.fileUpload input.upload {display: none;}
.blackTxt {color: rgba(0,0,0,0.87); text-shadow: 0 1px 2px #fff; margin-top: 8px;}

.feedbackTextArea {background:none !important; border: none !important;}
.errorModal {color: rgba(192, 57, 43,1.0) !important;}
.gradeColor {width : 32px; height : 8px; position: relative; display: inline-block; margin: 0 4px;}
.gradeColor.red {background-color: #e80000;}
.gradeColor.green {background-color: #48cb00;}
.gradeColor.orange {background-color: #ffea00;}
.capitalize {}

.importBtnBlock {position: relative; padding: 7px 16px 0; margin: 0; text-align: center; color: rgba(0, 0, 0, .87); font-size: 11px; cursor: pointer;}
.importBtnBlock>.importBtnUpload { width: 16px; height: 18px; padding: 0; border-radius: 50%; font-size: 12px; text-align: center; margin: 0 auto 4px; cursor: pointer;}
.importBtnBlock>p {color: rgba(0,0,0,0.87);}
.importBtnBlock>importBtnInput:hover,
.importBtnBlock>p:hover {color: rgba(0,0,0,0.87);}
.importBtnBlock>.importBtnUpload>input[type="file"] {padding: 0; margin: 0 auto; opacity: 0; position: absolute; z-index: 2; width: 40px; top: 7px; left: 28px; cursor: pointer;}
.importBtnBlock>.importBtnInput {cursor: pointer; display: inline-block; overflow: hidden; position: absolute; width: 100%; height: 40px; top: -18px; left: 0;}
.importBtnBlock>.importBtnInput>input { cursor: pointer; height: 100%; filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; position: absolute; right: 0; top: -3px; bottom: 0;}
.importBtnBlock>.importBtnInput>.icon {color: rgba(0, 0, 0, .87); cursor: pointer; display: inline-block; font-size: 14px; padding: 3px;}
.importFileOnclick { height: 100%; width: 100%; cursor: pointer; }

.broadcastWhiteCard {position: relative; padding: 5px 0; border-radius: 2px; background-color: #fff; margin-bottom: 10px; display: block; box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);}
.broadcastNews {position: relative; padding: 0 16px 8px; margin: 0; display: block; border-bottom: 1px solid rgba(0,0,0,0.12);}
.broadcastNews>.btnPost {background-color: #008abc; padding: 4px 16px; margin-top: 8px; margin-left: 5px; margin-right: 5px;}
.broadcastNews>.textArea {width: 100%; border: none; outline: none; resize: none; border-bottom: 1px solid rgba(0,0,0,0.12); padding: 8px 0; text-indent: 12px;}
.spinnerCss {margin-top: 20%;}
.pdfView > canvas {width: 100%; padding: 8px;}
.lineHight32 {line-height: 32px !important; padding: 0;}
.removePdng {padding: 0 !important}

.inputAllCap {}
.popHeadingAll {color: rgba(0, 0, 0, .87); font-size: 16px; text-transform: capitalize; font-weight: 600; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}

/*Date Range Custom CSS (12-Sep17) - By Keerthi*/
.dateControls {padding: 0; margin:0; position: relative; display: flex; flex-direction: row;}
.dateControls>.dateRange {padding: 0; margin-right: 16px; display: inline-block; flex-grow: 1; position: relative; line-height: normal;}
.dateControls>.dateRange>.applyBtn {margin: 21px 0 0 0;}
.filterTxt {margin: 30px 0 0 0; display: flex; padding: 0 16px;}

/*Custom Button Class throught the Application*/
.btnApplyAll {border: none; text-transform: uppercase; padding: 8px 12px; font-weight: 600; font-size: 14px; background-color: #008abc !important; border-radius: 2px; box-shadow: 0 4px 12px rgba(0, 0, 0, .26); color: #fff !important;}
.btnApplyAll:hover, .btnApplyAll:active, .btnApplyAll:focus, .btnApplyAll:visited {border: none; text-transform: uppercase; padding: 8px 12px; font-weight: 600; font-size: 14px; background-color: #008abc !important; border-radius: 2px; box-shadow: 0 4px 12px rgba(0, 0, 0, .26); color: #fff !important;}

/*Assignment Grading Code starts here given by Swarjit Sir*/
.assCanvas{
  position: relative;
  padding: 16px;
  margin: 0px;
  display: inline-block;
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, .12);  
}

.pdfBlock{
    position: relative;
    text-align: center;
    display :block;
    overflow: auto;
    background-color: rgb(82,86,89);
    padding : 24px 0;
}

.assCanvas>canvas{width:inherit;
  height:auto;
}

.assTab{
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 40px;
    display: block;
    padding: 0 48px;
    right: 0
}
.heightForScroll {
    height: calc(100vh - 288px) !important;
}
.radioNewProfile {
    margin-right: 16px;
}

/*Grading Code starts here */
.wrapper {padding:0; margin: 0; background-color: #fff; position: relative;}
.leftBox {padding: 0; margin:0; width:100%; height:100%; border: 1px solid #999;}

.rightBox {padding: 0; margin-right: 0px; border: none; position: relative; z-index: 2; background-color: #f5f5f5; display: block;}
.gradeBlock {position: relative; width: 100%; height: 100%; padding: 16px; display: flex; flex-direction: column;}

.gradeBlock> .actionBoxTop {text-align: right; padding: 0; margin: 8px 0 24px 0; position: relative;}
.gradeBlock> .gradeBody {position: relative; padding: 0;  margin: 0;  flex-grow: 1; }
.gradeBlock> .actionBoxBottom {text-align: right; padding: 16px 0 0; margin-bottom: 0; position: relative; display: block;}
.gradeBlock> .gradeBody> .gradeGroup {padding: 0px; margin: 0; position: relative; display: block;}
.gradeBlock> .actionBoxTop a {text-decoration: none; margin-left: 8px;}
.gradeBlock> .actionBoxBottom button {border:none; margin-left: 4px; color: rgba(0,0,0,0.87); padding: 6px 12px; background: transparent;
  font-weight: 600; text-transform: uppercase;}
.gradeBlock> .actionBoxBottom button.morePref {background-color: #008abc; border-radius: 2px; box-shadow: 0 4px 12px rgba(0,0,0,0.26); color: #fff;}


.tile {display: block; position: relative; padding: 0px; background-color: #fff; margin-bottom: 16px; width: 100%; box-shadow: 0 1px 2px rgba(0,0,0,0.25);}
.tile>.tileItems {position: relative;display: flex;flex-direction: column; padding: 0; margin: 0;}

.tileItems> .tileHeader {padding: 0px; position: relative; margin: 0; border-bottom: 1px solid rgba(0, 0, 0, .12);}
.tileItems> .tileHeader>.tileHeaderLeft {color: rgba(0, 0, 0, .87); padding: 0px; display: block; position: relative;}
.tileItems> .tileHeader>.tileHeaderLeft>.category {font-size: 18px; display: inline-block; border:none; width: 100%; padding: 24px 16px 0 16px;}

/*.tileItems> .tileHeader>.tileHeaderLeft> input {border:none; display: inline-block; font-size: 32px; padding: 24px 16px 0 16px;}*/
.innerScoreBoth {}
.tileItems> .tileHeader>.innerScoreBoth>.maxScore {width: 50%; text-align: center; float: right; padding: 24px 16px 4px 16px; margin: 0; position: relative;}
.tileItems> .tileHeader>.innerScoreBoth>.maxScore> label {margin-bottom: 6px; font-weight: 500; font-size: 12px; color: rgba(0,0,0,0.54); }
.tileItems> .tileHeader>.innerScoreBoth>.maxScore> .maxScoreInput {color: rgba(0,0,0,0.54); text-align: center; width: 100%; border:none; display: inline-block;font-size: 32px;}

.tileItems> .tileHeader>.innerScoreBoth>.scored {width: 50%; text-align: center; float: left; padding: 24px 16px 4px 16px;  margin: 0px; position: relative;}
.tileItems> .tileHeader>.innerScoreBoth>.scored> .scoreInput  {width: 100%; text-align: center; border:none; display: inline-block; font-size: 32px;}
.tileItems> .tileHeader>.innerScoreBoth>.scored> label {color:rgba(0,0,0,0.54); font-weight: 500; font-size: 12px; margin-bottom: 6px;}

.remTile {padding: 0; margin: 0; position: absolute; right: 8px; top:4px; color:rgba(0,0,0,0.38); cursor: pointer; width:10px; height:10px;} 

.remTile:hover{color:rgba(0,0,0,0.54);}
.tileItems> .tileBody {position: relative; padding: 0px; margin: 0px; background-color: #fff; }
.tileItems> .tileBody>.tileRatings {position: relative; display: flex; flex-direction: row; padding:16px 8px;}
.tileRatings>.gradeBox{text-align: center; border:2px solid transparent; cursor: pointer; flex-grow: 1; padding: 6px 4px; border-radius: 2px; color: rgba(255,255,255,0.7); display: inline-block; margin: 0 4px; position: relative;}
.tileRatings>.gradeBox:hover {color: #fff;}
.tileRatings>.gradeDisabledBox{text-align: center; border:2px solid transparent;  flex-grow: 1; padding: 6px 4px; border-radius: 2px; color: #fff; display: inline-block; margin: 0 4px; position: relative;cursor: not-allowed !important}
.assignmentResultActive { font-weight: 600; color: #fff !important; box-shadow: 0 6px 16px rgba(0, 0, 0, .45);}
.green{background:#2dcc70;}
.blue{background:#1bbc9b; }
.yellow{background:#f2c40f;}
.orange{background:#e5a10e; }
.red{background:#e84c3d; }

.txtGreen{color:#2dcc70 !important;}
.txtBlue{color:#1bbc9b;}
.txtYellow{color:#f2c40f;}
.txtOrange{color:#e5a10e;}
.txtRed{color:#e84c3d;}
.txtppl{color:#008abc;}




.gradeGroup>.addTile {padding: 0px; margin: 0; border-bottom: 1px solid rgba(0,0,0,0.12);}
.addContral {position: relative; display: inline-block; padding: 16px; margin: 0; cursor: pointer;}
.addIconCircle {width: 24px; height: 24px; border-radius: 50%; color: #008abc; display: inline-block; margin-right: 4px; text-align: center; line-height: 24px;}

.gradeGroup>.commentBox {padding: 0px; margin: 0; position: relative;}
.gradeGroup>.commentBox ul {list-style-type: none; padding: 0; margin: 0; display: block;}
.gradeGroup>.commentBox ul li {padding: 0; margin: 0; display: block; position: relative; vertical-align: middle;}
.gradeGroup>.commentBox ul li> .totalScore {padding: 0px; text-align: center; margin: 0px; position: relative; display: flex;}
.gradeGroup>.commentBox ul li> .totalScore> .totalScoreInput {color: rgba(0,0,0,0.87); text-align: left; border:none; background: transparent; font-size: 32px; padding: 8px 8px 8px 0px; flex-grow: 1;}
.gradeGroup>.commentBox ul li> .textBox {padding: 16px 0px;}
.totalScoreSpan {color: rgba(0,0,0,0.54);}
.totalScoreText {line-height: 53px; flex-grow: 1;}
/*CSS classes for student assignment result by keerthi*/
body {padding: 0; margin: 0; font-family: "Helvetica Neue", Arial, sans-serif; background-color: #f5f5f5;}
.wrapper {padding:0; margin: 0; position: relative; display: block; }
.resultBox {padding: 0px; margin:0; position: relative; overflow: hidden;}
.resultBlock {display: block; position: relative;}
.resultBlock>.resultHeader {padding: 16px 32px 0; margin: 0; position: relative; display: flex;}

.resultHeader>.headingTxt {width: calc(100% - 100px); padding: 0; margin: 0; flex-grow: 1; position: relative;}
.resultHeader>.headingTxt h2{font-size: 18px; line-height: 40px; font-weight: 500; padding:0px; margin: 0; color: rgba(0,0,0,0.87);}

.resultHeader>.scoreBox {width:100px; padding:0; margin: 0px; position: relative; float: right;}
.resultHeader>.scoreBox>.scoreInput {border:none; font-size: 32px; color: rgba(0,0,0,0.87); padding: 0; margin: 0;}
.resultHeader>.scoreBox>p {font-size: 14px; color: rgba(0,0,0,0.54); padding: 0; margin: 0;}
 
.resultBlock>.resultBody{padding: 0px; margin: 0; position: relative; flex-grow: 1; }
.resultBody>.resGroup {padding: 16px; margin: 0; position: relative;}
.resultBody>.resGroup>.resTile {padding: 0px; margin-bottom: 8px; background-color: #fff; position: relative; box-shadow: 0 1px 2px rgba(0,0,0,0.26); display: flex; flex-direction: row;}

.resTile>.resCriteria { padding: 16px 0 16px 16px; position: relative; width: calc(100% - 256px); flex-grow: 1; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.resTile>.resCriteria> h4 {padding: 8px 0; margin: 0; font-size: 18px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: rgba(0,0,0,0.54); line-height: inherit;}
.resTile>.resRating{position: relative; display: inline-block; width: 128px; padding: 8px 0; margin: 0px; text-align: center;  }
.resRating> p {padding: 2px 0; margin: 0; font-size: 12px; color: rgba(0,0,0,0.38);}

.green{background:#2dcc70;}
.blue{background:#1bbc9b; }
.yellow{background:#f2c40f;}
.orange{background:#e5a10e; }
.red{background:#e84c3d; }

.txtSize {font-size: 24px;}
.txtplBlue {color: #008abc;}
.txtGreen{color:#2dcc70 !important;}
.txtBlue{color:#1bbc9b;}
.txtYellow{color:#f2c40f;}
.txtOrange{color:#e5a10e;}
.txtRed{color:#e84c3d;}

.resTile>.resScored{ position: relative; padding: 8px; width: 128px; text-align: center; }
.resTile>.resScored p{padding: 2px 0; margin: 0; font-size: 12px; color: rgba(255,255,255,0.70);}
.resTile>.resScored>.resInput {font-size: 24px; padding: 0; margin:0; color:rgba(255,255,255,0.70); }
.activeTxt{color: rgba(255,255,255,1); font-weight: 500;}

/*Feedback-display inline removed by Keerthi for bug no.3135*/
.feedbackBox {padding: 0; margin:0; position: relative;}
.feedbackBox>.fbHeader {padding: 16px; margin: 0 16px; position: relative; display: block; }
.feedbackBox>.fbHeader h2{font-size: 18px; font-weight: 500; margin: 0; color: rgba(0,0,0,0.87);}
.feedbackBox>.feedbackGroup {padding: 0; margin:0 16px 16px; display: block; box-shadow: 0 1px 2px rgba(0,0,0,0.26); background-color: #fff;}
.feedbackGroup>.profileBox {position: relative; padding:24px 20px 20px 20px; border-bottom:1px solid rgba(0,0,0,0.12); display: block; width: 100%;}
.profileBox>.profileImg {margin-right: 16px;  position: relative; display: inline-block; width: 96px; height: 96px; border-radius: 50%; background-color: #f1f1f1; border:1px solid rgba(0,0,0,0.12);}
.profileImg> img {height: 100%; width: 100%; border-radius: 50%; }
.profileBox>.profileDetails {padding: 0; margin-left: 0px; position: relative; flex-grow: 1; vertical-align: middle; display: inline-block;}
.profileBox>.profileDetails> span {font-size: 14px; padding: 4px 0; color: rgba(0,0,0,0.54);}
.profileBox>.profileDetails>.name {font-size: 18px; color: rgba(0,0,0,0.87);}

.feedbackGroup>.commentBox {padding: 20px 20px 24px; margin: 0;position: relative;display: block; word-wrap: break-word; overflow:hidden;}
.feedbackGroup>.commentBox> p {padding: 4px 0px; margin:0; position: relative; font-size: 18px; font-weight: 300; color: rgba(0,0,0,0.54);}
.feedbackGroup>.commentBox>.commentTxt {color: rgba(0,0,0,0.87); font-size: 14px;}



/*Responsive styles*/

@media(max-width: 767px) {
  .iContainer{ width: 100%; }
  .iMenuContainer{ right: 0px; max-width: 180px;}
  .iMenuContainer>ul, .iSubMenuContainer>ul {white-space: nowrap; overflow-x: auto; overflow-y: hidden; webkit-overflow-scrolling: touch;}
  .iTopMenu>h3 {padding-right: 130px;}

  /*.dateControls {position: relative; padding: 0; margin: 0; display: block;}
  .dateControls>ul {list-style-type: none;}
  .dateControls>ul>li {float: none; display: block; padding: 0; margin-top: 3px;}
  .dateControls>ul>li {float:left; padding: 0 16px; margin: 0; width: 100%;}
  .dateControls>ul>li:last-child {width: auto;}*/
  .removePdng {padding: 0 !important}
  .addpdng {padding: 0 16px !important}
  .dateControls {padding: 0; margin:0; position: relative; display: flex; flex-direction: column;}
  .dateControls>.dateRange>.applyBtn {margin:0 0 16px 0 !important;} 
  .filterTxt {margin: 0 0 30px 0 !important; padding: 0 16px;  display: flex;}
  .assTab { padding: 0 24px}
  .heightForScroll {
    height: inherit;
  }
  /*Assignment Grading*/
    .gradeBlock> .actionBoxTop {text-align: right; padding: 4px 0px; margin: 0px; margin-bottom: 16px; position: relative;}
    .tileItems> .tileHeader>div>.maxScore> .maxScoreInput, 
    .tileItems> .tileHeader>div>.scored> .scoreInput, 
    .tileItems> .tileHeader>.tileHeaderLeft>.category {border:none; display: inline-block; font-size: 24px; padding: 24px 8px 0 8px;}
    .tileItems> .tileHeader>.tileHeaderLeft {color: rgba(0,0,0,0.87); padding: 0px; margin-right: 8px; display: inline-block; position: relative; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;width: calc(100% - 128px); flex-grow: 1;}
    .tileItems> .tileHeader>div>.maxScore {width:64px; flex-grow: 1; text-align: center; padding-bottom: 4px; margin: 0; position: relative; display: inline-block;}
    .tileItems> .tileHeader>div>.scored {width:64px; padding-bottom: 4px;  margin: 0px; flex-grow: 1; position: relative; text-align: center;}
    .tileItems> .tileBody>.tileRatings {position: relative; display: flex; flex-direction: row; padding:8px;}
    .tileRatings>.gradeBox{text-align: center; cursor: pointer; flex-grow: 1; padding: 0px; border-radius: 2px; color: #fff; display: inline-block; margin: 0 2px; position: relative;}

    .gradeGroup>.commentBox {padding: 0px; margin: 0; position: relative; text-align: center;}

    /*CSS classes for student assignment result by keerthi*/
    .resultBlock>.resultHeader{padding:16px 0;}
    .resultHeader>.headingTxt h2{font-size: 18px; line-height: 24px; font-weight: 500; padding:0px; margin: 0; color: rgba(0,0,0,0.87);}
    .resultBody>.resGroup {padding: 16px 0; margin: 0; position: relative;}
    .feedbackBox>.fbHeader {padding: 16px 0; margin: 0; position: relative; display: block; }
    .feedbackBox>.feedbackGroup {padding: 0; margin: 0 0 16px;}
    .feedbackGroup>.profileBox {position: relative; padding:24px 20px 20px 20px; border-bottom:1px solid rgba(0,0,0,0.12); display: block; width: 100%; text-align: center;}
    .profileBox>.profileDetails {padding: 0; margin-top: 8px; position: relative; flex-grow: 1; vertical-align: middle; display: inline-block;}

    .resGroup>.resTile {flex-direction: column !important;}
    .resTile>.resCriteria {width:auto; padding: 8px 16px; position: relative; flex-grow: 1; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border-bottom:1px solid rgba(0,0,0,0.12);}
    .resTile>.resRating {width:auto; position: relative; display: inline-block;  padding: 8px; margin: 0px; text-align: center;  }
    .resTile>.resScored {width:auto; position: relative; padding: 8px; text-align: center; }
    .scoreBox>.scoreInput {text-align: right;}
    .spinnerCss {margin-top: 50%;}
    .formNext {padding: 0;}
    .rightBox {background-color: inherit;}
    .tileItems> .tileHeader>.innerScoreBoth>.scored {padding: 0px 16px 4px 16px;}
    .tileItems> .tileHeader>.innerScoreBoth>.maxScore {padding: 0px 16px 4px 16px;}
    .tileRatings>.gradeDisabledBox{font-size: 12px; margin: 0px 1.5px; padding: 6px 2px;}
    .greyCard {background-color: #ececed; box-shadow: none;}
    .gradeBlock {padding: 16px 0;}
    .gradeGroup>.commentBox ul li> .textBox textarea {background: #fff;}

}

@media(min-width: 768px) and (max-width: 991px){
  .iSubMenuContainer>ul {white-space: nowrap; overflow-x: auto; overflow-y: hidden; webkit-overflow-scrolling: touch;}
  .iContainer {width: 100%;}
  .iMenuContainer {right: 0px;}  
  .iElement {max-width: 100%;} 
  .reactTelInput {width: 100% !important; max-width: 100%;}
  .dateControls {padding: 0; margin:0; position: relative; display: flex; flex-direction: row;}

  /*Assignment Grading Css */
    .wrapper {padding:0; margin: 0; background-color: #fff; position: relative;}
    .leftBox {padding: 0; margin:0; width:100%; height:100%; border: 1px solid #999;}
    .gradeBlock> .actionBoxTop {text-align: right; padding: 4px 16px; margin: 0px; position: relative;}

    .tileItems> .tileBody ul li:first-child {float: left;}
    .tileItems> .tileBody ul li:nth-child(2) {float: right;}
    .tileBody ul li>.tileRatings {position: relative; padding: 16px; display: flex; flex-direction: row;}
    .tileBody ul li>.tileRatings>.gradeBox{text-align: center; padding: 8px; border-radius: 2px; color: #fff; display: inline-block; margin: 0 2px; position: relative;}
    .good{background:#7dbb42; }
    .vGood{background:#0f9246;}
    .fair{background:#fecc09;}
    .poor{background:#f68e1f; }

    .gradeGroup>.commentBox {padding: 0px; margin: 0; position: relative; text-align: center;}

    /*CSS classes for student assignment result by keerthi*/
    .resGroup>.resTile {flex-direction: row !important;}
    .resultBlock>.resultHeader{padding:16px 0;}
    .resultHeader>.headingTxt h2{font-size: 18px; line-height: 24px; font-weight: 500; padding:0px; margin: 0; color: rgba(0,0,0,0.87);}
    .feedbackBox>.fbHeader {padding: 16px; margin: 0; position: relative; display: block; }
    .profileBox>.profileDetails {padding: 0; margin-top: 8px; position: relative; flex-grow: 1; vertical-align: middle; display: inline-block;}

    .resTile>.resCriteria {width:auto; padding: 16px 0 16px 16px; position: relative; flex-grow: 1; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
    .resTile>.resRating {width:auto; position: relative; display: inline-block;  padding: 8px; margin: 0px; text-align: center;  }
    .resTile>.resScored {width:auto; position: relative; padding: 8px; text-align: center; }
    
}
