
.calendarRender {
    margin: 16px;
    padding: 24px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
}

.calendar_schedule_options {
	direction: rtl;
}
.calendar_schedule_options li{
	list-style-type: none;
  display: inline-block;
  padding-right: 4px;
}
.calendar_schedule_options li button div{
	float: left;
}
.calendar_schedule_options li button div img{
	width: 20px;
}
.calendar_schedule_options li button p{
	float: right;
  margin: 0px;
  padding-top: 2px;
  padding-left: 4px;
}


/************* RESPONSIVE DESIGN FOR SMALL DEVICES *********************************/
@media(max-width: 767px) {
	.calendarRender {margin: 16px 0 0; padding: 8px;}
	.calendar_schedule_options li{
		display: block;
    padding-top: 8px;
    text-align: center;
}
.calendar_schedule_options li button p{
	float: left;
}
.calendar_schedule_options li button {
    max-width: 96px;
    width: 100%;
}

}

/************* RESPONSIVE DESIGN FOR SMALL DEVICES *********************************/
@media(min-width: 768px) and (max-width: 991px){
	.calendarRender {margin: 16px 0 0; padding: 16px;}

}